
.share-buttons {
	float:left;
}

.share-but {
	float:left;
	width:102px;
	margin-top:16px;
}

.tweet-but {
	margin-right:30px;
}

.share-but.follow {
	width:227px;
}

.final-share .vision-title {
	text-align: center;
}

.final-share.section .box {
	font-family: "proxima-nova";font-weight:300;
	color: #595959;
	font-size: 16px;
	float: left;
	width: 408px;
	text-align: center;
	margin: 40px 0;
}


.final-share.section .share-buttons {
	margin: 20px auto 80px;
	width: 354px;
	float:none;
}

.final-share.section .share-but {
	width:120px;
}

.final-share.section .share-but.gplus {
	width: 68px;
}

.final-share.section .like-but.share-but {
	width:165px;
}

