<?xml version="1.0"?>

<config>
    <modules>
        <Janrain_Engage>
            <version>1.1.0</version>
        </Janrain_Engage>
    </modules>
    <frontend>
        <layout>
            <updates>
                <engage>
                    <file>engage.xml</file>
                </engage>
            </updates>
        </layout>
        <translate>
            <modules>
                <Janrain_Engage>
                    <files>
                        <default>Janrain_Engage.csv</default>
                    </files>
                </Janrain_Engage>
            </modules>
        </translate>
		<routers>
			<engage>
				<use>standard</use>
				<args>
					<module>Janrain_Engage</module>
					<frontName>janrain-engage</frontName>
				</args>
			</engage>
		</routers>
    </frontend>

    <global>
        <blocks>
            <engage>
                <class>Janrain_Engage_Block</class>
            </engage>
        </blocks>
        <models>
            <engage>
                <class>Janrain_Engage_Model</class>
				<resourceModel>engage_mysql4</resourceModel>
            </engage>
			<customer>
				<rewrite>
					<customer>Janrain_Engage_Model_Customer</customer>
				</rewrite>
			</customer>
			<engage_mysql4>
				<class>Janrain_Engage_Model_Mysql4</class>
				<entities>
					<identifiers>
						<table>engage_identifiers</table>
					</identifiers>
				</entities>
			</engage_mysql4>
        </models>
		<events>
			<customer_save_after>
				<observers>
					<add_engage_identifier>
						<type>singleton</type>
						<class>Janrain_Engage_Model_Observer</class>
						<method>addIdentifier</method>
					</add_engage_identifier>
				</observers>
			</customer_save_after>
			<admin_system_config_changed_section_engage>
				<observers>
					<engage_config_save>
						<type>singleton</type>
						<class>Janrain_Engage_Model_Observer</class>
						<method>onConfigSave</method>
					</engage_config_save>
				</observers>
			</admin_system_config_changed_section_engage>
		</events>
        <helpers>
            <engage>
                <class>Janrain_Engage_Helper</class>
            </engage>
        </helpers>
        <resources>
            <engage_setup>
                <setup>
                    <module>Janrain_Engage</module>
					<class>Janrain_Engage_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </engage_setup>
            <engage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </engage_write>
            <engage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </engage_read>
        </resources>
    </global>

	<admin>
        <routers>
            <engage>
                <use>admin</use>
                <args>
                    <module>Janrain_Engage</module>
                    <frontName>janrain-engage</frontName>
                </args>
            </engage>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <Janrain_Engage>
                    <files>
                        <default>Janrain_Engage.csv</default>
                    </files>
                </Janrain_Engage>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <engage translate="title" module="engage">
                                            <title>engage</title>
                                        </engage>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <engage>
            <options>
                <apikey></apikey>
                <enable>1</enable>
				<path_skin>{{base_skin}}/frontend/janrain</path_skin>
            </options>

			<!-- Set values of global config vars -->
			<vars>
				<realm></realm>
				<realmscheme></realmscheme>
				<appid></appid>
				<adminurl></adminurl>
				<socialpub></socialpub>
				<enabled_providers></enabled_providers>
			</vars>
        </engage>
    </default>

</config>