<?xml version="1.0"?>
<config>
    <modules>
        <Brainwashed_Recurly>
            <version>0.1.0</version>
        </Brainwashed_Recurly>
    </modules>
    <global>
    	<blocks>
    		<recurly>
    			<class>Brainwashed_Recurly_Block</class>
    		</recurly>
    	</blocks>
    	<models>
	        <recurly>
                <class>Brainwashed_Recurly_Model</class>
	        </recurly>
        </models>
        <helpers>
        	<recurly>
        		<class>Brainwashed_Recurly_Helper</class>
        	</recurly>
        </helpers>
        
    	<events>
<!--
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <recurly>
                        <type>singleton</type>
                        <class>Brainwashed_Recurly_Model_Product_Observer</class>
                        <method>clearCart</method>
                    </recurly>
                </observers>                    
            </controller_action_predispatch_checkout_cart_add>
-->
			<checkout_cart_add_product_complete>
                <observers>
                    <recurly>
                        <type>singleton</type>
                        <class>Brainwashed_Recurly_Model_Product_Observer</class>
                        <method>redirectToCheckout</method>
                    </recurly>
                </observers>
            </checkout_cart_add_product_complete>            
			<checkout_cart_product_update_after>
                <observers>
                    <recurly>
                        <type>singleton</type>
                        <class>Brainwashed_Recurly_Model_Product_Observer</class>
                        <method>redirectToCheckout</method>
                    </recurly>
                </observers>
            </checkout_cart_product_update_after>
    	</events>        
    </global>
    <frontend>
        <routers>
            <recurly>
                <use>standard</use>
                <args>
                    <module>Brainwashed_Recurly</module>
                    <frontName>recurly</frontName>
                </args>
            </recurly>
        </routers>
		<translate>
			<modules>
				<Brainwashed_Recurly>
					<files>
						<default>Brainwashed/Recurly.csv</default>
					</files>
				</Brainwashed_Recurly>
			</modules>
		</translate>
		<layout>
			<updates>
				<recurly>
					<file>brainwashed/recurly.xml</file>
				</recurly>
			</updates>
		</layout>        
    </frontend>
    
    <default>
        <payment>
            <recurly>
                <active>1</active>
                <model>recurly/recurly</model>
                <order_status>pending</order_status>
                <title>Recurly</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
            </recurly>
         </payment>
    </default>    
</config>
