$textLinkColor: #d2002b;

.incentive-image-container {
	width:20%;
	float:left;
}
.incentive-message {
	width:80%;
	float:left;
}

a.convert.checkout {
	width:300px;
}

.image-and-copy-container.small .v-outer-container.aside-facebook-connect {
	height:44px;
	a {
		text-decoration:underline;
		color:$textLinkColor;
	}
}

.order-summary {
	margin:0 0 40px;
}