@import "compass";

.chisel-block.header {
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: rgb(252,252,252); // Old browsers
	@include filter-gradient(#fcfcfc, #f2f2f2, vertical); // IE6-8
	// IE9 SVG, needs conditional override of 'filter' to 'none'
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top,  rgba(252,252,252,1) 69%,rgba(242,242,242,1) 100%));
	height:50px;
	margin-bottom:30px;
}

.ie9 .header {
	filter:none;
}

.header-logo {
	width: 103px;
	display: block;
	margin-top: 6px;
}