$tagFontSize: 1.4em;


// delete this when no longer using select2

.select2-container {
	width:100%;
}

.type-tag-form .field-with-submit-button-container {

	width:50%;

	.tag-input {
		font-size: $tagFontSize * 1.5;
		// line-height: 1em;
		font-weight:normal;
		color:#595959;
	}
	button {
		width:28%;
		font-weight: bold;
		font-size: $tagFontSize / 1.5;
		line-height: 1em;
	}

	.typeahead.dropdown-menu {
		// Links within the dropdown menu
		li > a {
			display: block;
			// padding: 2% 5%;
			clear: both;
			font-weight: normal;
			font-size: 2em;
			line-height:2em;
			// line-height: $baseLineHeight;
			// color: $dropdownLinkColor;
			white-space: nowrap;
		}
	}

}

.input-tooltip {
	width:43%;
	margin-left:3%;
	font-size:$tagFontSize;
	line-height:$tagFontSize * 1.2;
}

.male-tag {
	display: inline-block;
	padding: 8px 11px;
	background: #F9F9F9;
	font-size: $tagFontSize;
	line-height: $tagFontSize;
	font-weight:bold;
	white-space: nowrap;
	color: #595959;
	@include text-shadow(rgba(0, 0, 0, .2) 0 -1px 0);
	@include transition-property(all);
	@include transition-timing-function(ease);
	@include transition-duration(.3s);
	cursor: pointer;
	// border:4px solid #F1F1F1;
	@include box-shadow(rgba(#595959, 0.4) 0 0 4px);
	font-family:"larabiefont",Helvetica,arial,sans-serif;
}

.male-tag.selected .status {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAYAAAC9+TVUAAABaUlEQVQ4EWNkoAywALX/Z6TADI6UlERjAQGB1+SawTVpUn/Ax49vXn369LaeHEN4Fy6cGw3U/Onz53dnv3x5z0mqIQKbNq3LBmr+DsRPgQZIk2qA8N69uyqAmv8CNX8DYmNSDRA7efJoO1Djfyj2I9UAyUuXzk5DMqCCFANA0S9z69a1FTADgIG5EpcB/EAJRSAWAGImqCImLS1N5QcPbm+BGQAMi2tANg9UHpUCxnXEq1fPzoECTU9P1wAoK2FmZqL55Mn9g0gGfASy1VF1IniMQEnmf//+nWNiYtL7+/fvx2fPnm8QEhLU5ebmNkIoYwjl4RFcg8RHYYKTPdAgG6DoYRQZBGci0IACBBeTBQ4DoKIjQFesQJf+////FaBYGbo4Oh+eAYGuUQFqusbIyMgKUgRk/wCyjYEWXEPXhM6HxQYDUPEdoMY+mAKgAaXEGABTD6eBruEB5Qkg3gEXJIcBNEgRZBgpegHGDcz/EW/l+AAAAABJRU5ErkJggg==);
	width:17px;
	height:18px;
	margin:3px 10px 6px 0;
}

.male-tag .status {
}

.male-tag:hover, .male-tag.selected {
	background: #70AA1B;
	text-shadow: rgba(0, 0, 0, .3) 0 -1px 0;
	color:white;
}
.male-tag.selected:hover {
	background-color: #d2002b;
	.status {
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAYAAAC9+TVUAAABNklEQVQ4EaWTu2oCQRSGVxEJwVJSBBECeYBgkcIq2KROwC5Y+gj2eQQLi5Aq+ACxEbROaS6VEEhgCaRJCptAqsD6HZhdz5wdg+KBj5n/PxfX2dlCkiTRrlHcdYD02yFnGwytUNPQdXbIHslrXWD2ZfQAXrVvh0xInkBoUAl/DDP4hVXIwRpO0TH0lF9kfw9Pysv6so1J9tExdJx/5/SV015fQcxAVPGm8AefIAf5CG3IR2iy8y5ZddQR3hOk2h6s/pWFFuy/jV7JdJpZD9APoOMGEXySoEnxresesrZA3sobdCHXkzMokjcQwxhKIDVNmMMLHILX5wmS8jdGIHdiH3S+gZYh8nTaz30755zWB1yAfyuj6BlP8u9Qgyz0PTnG/YGvLLt+c0QqTtN6SOptvf53TzYetgQapp2NZADQYgAAAABJRU5ErkJggg==);
			// correct image placement		
			margin-bottom: 0;
			margin-top: 5px;
	}
}

