.slide-container {
	position:relative;
	margin:5%;

	h1.question-title {
		font-weight:bold;
		font-size:28px;
		font-family:"proxima-nova",Helvetica,arial,sans-serif;
		color:#222;
		letter-spacing:-1px;
		margin:0 0 20px 0;
	}
}

.maleApp {
	.slide-container.ani {
		@include ani-duration(0.1);
	}
}


.curved-white-block {
	// margin:5%;
	background:#FFFFFF;
	padding:5%;
	.chisel-block {
		background:#FFF;
		text-shadow:none;
		border-top:1px solid #eee;
		border-bottom:1px solid #e1e1e1;
	}
}

.float-left {
	float:left;
}