.male-talking {
	font-family:"larabiefont",Helvetica,arial,sans-serif;
	color:#666;
	font-size: 18px;
	font-weight:bold;
	display:none;
}

.slide-container {
	position:relative;
	margin:5%;

	.question-title {
		
		font-family:"proxima-nova",Helvetica,arial,sans-serif;
		font-size:34px;
		font-weight:bold;
		letter-spacing:-2px;
		// text-transform:uppercase;
		margin-bottom:20px;
	}

	.question-title.smaller {
		font-size:24px;
		line-height: 37px;
	}

	.question-title.on-grey {
		font-weight:normal;
		color: #595959;
		text-shadow: rgba(255, 255, 255, .4) 0 1px 0;
		letter-spacing:-1px;

	}

	.question {
		@extend .male-talking;
	}
	.hint {
		margin:60px 0 0;
	}
}

.maleApp {
	.slide-container.ani {
		@include ani-duration(0.1);
	}
}


.curved-white-block {
	// margin:5%;
	background:#FFFFFF;
	padding:5%;
	.chisel-block {
		background:#FFF;
		text-shadow:none;
		border-top:1px solid #eee;
		border-bottom:1px solid #e1e1e1;
	}
}

.float-left {
	float:left;
}

/****** GRID *******/

.half-column, .third-column, .two-thirds-column {
	float:left;
}

.half-column {
	width:50%;
}


.third-column {
	width:33%;
}

.two-thirds-column {
	width:66%;
}