.twitter-avatar {
	background: url(../../images/leanlanding/home/sprite.png) 0 0 no-repeat;
	width:$twitter-avatar-size;
	height:$twitter-avatar-size;
}

#hywel {
	background-position: -74px 0;
}

#matt {
	background-position: -146px 0;
}

#rdrb26 {
	background-position: 0 -73px;
}

#patrickjpr {
	background-position: -74px -73px;
}

#craigmdennis {
	background-position: -146px -73px;
}