#tumblrWidget {

	margin-bottom: 10px;
	background-color: white;
	border: 1px solid #E8E8E8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;


	.timeline-header {
		padding:8px;
		h1.summary {
			float:left;
			font-size: 16px;
			line-height: 25px;
			font-weight:bold;
		}
		.btn.right {
			float:right;
		}

		border-bottom: 1px solid #E8E8E8;
		-webkit-box-shadow: 0 0 0 -3px transparent;
		-moz-box-shadow: 0 0 0 -3px rgba(0,0,0,0);
		box-shadow: 0 0 0 -3px transparent;
		-webkit-transition: -webkit-box-shadow .3s ease-out;
		-moz-transition: -moz-box-shadow .3s ease-out;
		-ms-transition: box-shadow .3s ease-out;
		-o-transition: box-shadow .3s ease-out;
		transition: box-shadow .3s ease-out;

	}

	.stream {
		height:320px;
		overflow:scroll;
		
		ul.tumblr {
			li {
				padding:15px;
				text-align:left;
				border-bottom:1px solid #EBEBEB;
				img {
					float:left;
					margin:0 10px 10px 0;
				}
				em {
					p:first-child {
						font-weight:bold;
						color:black;
						margin-bottom:10px;

					}
				}
				.tumblr-post-date {
					font-size:9px;
				}
			}
			
		}

	}	


}
