
@import url("../../../../base/default/css/rewards/skin.css");

.sidebar .rewards-customer-sidebar .actions
{
	margin: 0px 0 18px 16px;
	text-align: right;
}


.rewards-customer-sidebar
{
    background: #F5F5F5 url(../images/bkg_block.gif);
}

/*+clearfix {*/
.header .quick-access .points-special-header:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.header .quick-access .points-special-header
{
    display: inline-block;
}
.header .quick-access .points-special-header
{
/*\*/
    display: block;
/**/
    -height: 1px;
}
/*+}*/
/*[clearfix]*/.header .quick-access .points-special-header
{
    /*+placement:anchor-bottom-right 4px 54px;*/
    position: absolute;
    right: 4px;
    bottom: 54px;
    width: 160px;
    text-align: right;
}
.rewards-customer-index .mypoints-page .mypoints-transfers H2
{
    margin-bottom: 8px;
}
.rewards-customer-index .mypoints-redeemcatalog .listing TD
{
    padding-bottom: 10px;
}
.mypoints-page .head H4.title, .mypoints-summary .head H4.title
{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 8px;
}
.checkout-cart-index .rewards-box-spend-minicart .box-content LABEL
{
    width: 259px;
    /*+placement:float-right 0px 0px;*/
    float: right;
    position: relative;
    left: 0px;
    top: 0px;
}
.checkout-cart-index .totals .rewards-opc-please-wait
{
    text-align: right;
    margin-bottom: 20px;
    padding-bottom: 0px;
}


.mypoints-transfers H2
{
    margin-top: 12px;
    font-weight: normal;
    color: #000;
}


.points-special-header
{
	color: #111111;
}


.rewards-customer-sidebar .divider { margin: 8px 0 8px 0;  }

.points-checkout-onepage-sidebox .points-checkout-onepage-sidebox-header
{
    background-color: inherit;
}


.points-checkout-onepage-sidebox
{
    background-color: inherit;
    border: none;	
}

.points-checkout-onepage-sidebox .points-checkout-onepage-sidebox-content
{
    padding: 6px 6px 6px 2px;
}

.points-checkout-onepage-sidebox .points-checkout-onepage-sidebox-header
{
    background-color: inherit;
}


.points-checkout-onepage-sidebox .points-checkout-onepage-sidebox-header H4
{
    font-size: 12px;
    color: inherit;	
}

.points-checkout-onepage-sidebox .points-checkout-onepage-sidebox-header
{
    background-color: inherit;
    width: 100%;
}
.points-checkout-onepage-sidebox .points-checkout-onepage-sidebox-header
{
    background-color: inherit;
    padding: 0;
    border-bottom: none;
    font-size: inherit;
}
.mypoints-transfers H2
{
    font-weight: normal;
    color: #000;
}

.points-checkout-onepage-sidebox .change-points-usage
{
    border-left: 2px solid #A7A7A7;
    font-weight: normal;	
    padding-left: 5px;
    margin-right: 4px;
    margin-left: 6px;
	
}