/**
 * import components to builds angular-ui.css
 */
/* ui-reset */
.ui-resetwrap {
  position: relative;
  display: inline-block; }

.ui-reset {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
  height: 100%;
  cursor: pointer; }

.ui-resetwrap:hover .ui-reset {
  display: block; }

/* ui-currency */
.ui-currency-pos {
  color: green; }

.ui-currency-neg {
  color: red; }

.ui-currency-zero {
  color: blue; }

/* highlight */
.ui-match {
  background: yellow; }

/*
Version: @@ver@@ Timestamp: @@timestamp@@
*/
.select2-container {
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: top; }

.select2-container, .select2-drop, .select2-search, .select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -moz-box-sizing: border-box;
  /* firefox */
  -ms-box-sizing: border-box;
  /* ie */
  -webkit-box-sizing: border-box;
  /* webkit */
  -khtml-box-sizing: border-box;
  /* konqueror */
  box-sizing: border-box;
  /* css3 */ }

.select2-container .select2-choice {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 50%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, white 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
  background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #aaa;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 8px;
  color: #444;
  text-decoration: none; }

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.9, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 90%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 90%);
  background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 90%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, white 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 0%, #ffffff 90%); }

.select2-container .select2-choice span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.select2-container .select2-choice abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 8px;
  width: 12px;
  height: 12px;
  font-size: 1px;
  background: url("select2.png") right top no-repeat;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  outline: 0; }

.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer; }

.select2-drop {
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 100%;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  width: 100%;
  margin-top: -1px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }

.select2-drop.select2-drop-above {
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15); }

.select2-container .select2-choice div {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(0.6, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -moz-linear-gradient(center bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -o-linear-gradient(bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#cccccc', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);
  border-left: 1px solid #aaa;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px; }

.select2-container .select2-choice div b {
  background: url("select2.png") no-repeat 0 1px;
  display: block;
  width: 100%;
  height: 100%; }

.select2-search {
  display: inline-block;
  white-space: nowrap;
  z-index: 10000;
  position: relative;
  min-height: 26px;
  width: 100%;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px; }

.select2-search-hidden {
  display: block;
  position: absolute;
  left: -10000px; }

.select2-search input {
  background: white url("select2.png") no-repeat 100% -22px;
  background: url("select2.png") no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url("select2.png") no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url("select2.png") no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url("select2.png") no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url("select2.png") no-repeat 100% -22px, -ms-linear-gradient(top, white 85%, #eeeeee 99%);
  background: url("select2.png") no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #aaa;
  font-family: sans-serif;
  font-size: 1em;
  width: 100%;
  margin: 0;
  height: auto !important;
  min-height: 26px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px; }

.select2-search input.select2-active {
  background: white url("spinner.gif") no-repeat 100%;
  background: url("spinner.gif") no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url("spinner.gif") no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url("spinner.gif") no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url("spinner.gif") no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url("spinner.gif") no-repeat 100%, -ms-linear-gradient(top, white 85%, #eeeeee 99%);
  background: url("spinner.gif") no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%); }

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
  outline: none; }

.select2-dropdown-open .select2-choice {
  border: 1px solid #aaa;
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -o-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(top, white 0%, #eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-dropdown-open .select2-choice div {
  background: transparent;
  border-left: none; }

.select2-dropdown-open .select2-choice div b {
  background-position: -18px 1px; }

/* results */
.select2-results {
  margin: 4px 4px 4px 0;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px; }

.select2-results ul.select2-result-sub {
  margin: 0 0 0 0; }

.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px; }

.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 110px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px; }

.select2-results li {
  list-style: none;
  display: list-item; }

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold; }

.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer; }

.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff; }

.select2-results li em {
  background: #feffde;
  font-style: normal; }

.select2-results .select2-highlighted em {
  background: transparent; }

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item; }

/*
disabled look for already selected choices in the results dropdown
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}
*/
.select2-results .select2-disabled {
  display: none; }

.select2-more-results.select2-active {
  background: #f4f4f4 url("spinner.gif") no-repeat 100%; }

.select2-more-results {
  background: #f4f4f4;
  display: list-item; }

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default; }

.select2-container.select2-container-disabled .select2-choice div {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0; }

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none; }

/* multiselect */
.select2-container-multi .select2-choices {
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -ms-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative; }

.select2-container-multi .select2-choices {
  min-height: 26px; }

.select2-container-multi.select2-container-active .select2-choices {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
  outline: none; }

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none; }

.select2-container-multi .select2-choices .select2-search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0; }

.select2-container-multi .select2-choices .select2-search-field input {
  color: #666;
  background: transparent !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 15px;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: white url("spinner.gif") no-repeat 100% !important; }

.select2-default {
  color: #999 !important; }

.select2-container-multi .select2-choices .select2-search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  border: 1px solid #aaaaaa;
  line-height: 13px;
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default; }

.select2-container-multi .select2-choices .select2-search-choice span {
  cursor: default; }

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4; }

.select2-search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url("select2.png") right top no-repeat;
  outline: none; }

.select2-container-multi .select2-search-choice-close {
  left: 3px; }

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px; }

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px; }

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default; }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  background-image: none;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 3px 5px 3px 5px; }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none; }

/* end multiselect */
.select2-result-selectable .select2-match, .select2-result-unselectable .select2-result-selectable .select2-match {
  text-decoration: underline; }

.select2-result-unselectable .select2-match {
  text-decoration: none; }

.select2-offscreen {
  position: absolute;
  left: -10000px; }

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice div b {
    background-image: url("select2x2.png") !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important; }

  .select2-search input {
    background-position: 100% -21px !important; } }
.ani {
  -webkit-animation-fill-mode: both;
  /* Safari and Chrome */
  -moz-animation-fill-mode: both;
  /* Firefox */
  -ms-animation-fill-mode: both;
  /* Steve Ballmer */
  -o-animation-fill-mode: both;
  /* Opera */
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  /* Safari and Chrome */
  -moz-animation-duration: 1s;
  /* Firefox */
  -ms-animation-duration: 1s;
  /* Steve Ballmer */
  -o-animation-duration: 1s;
  /* Opera */
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -o-animation-duration: ease;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000; }

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }

@-moz-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }

@-o-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }

.flash {
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -ms-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash; }

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px); } }

@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px); } }

@-o-keyframes shake {
  0%, 100% {
    -o-transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px); } }

@keyframes shake {
  0%, 100% {
    transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    transform: translateX(10px); } }

.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -ms-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInHalf {
  0% {
    opacity: 0.2; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadeInHalf {
  0% {
    opacity: 0.2; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeInHalf {
  0% {
    opacity: 0.2; }

  100% {
    opacity: 1; } }

@keyframes fadeInHalf {
  0% {
    opacity: 0.2; }

  100% {
    opacity: 1; } }

.fadeInHalf {
  -webkit-animation-name: fadeInHalf;
  -moz-animation-name: fadeInHalf;
  -ms-animation-name: fadeInHalf;
  -o-animation-name: fadeInHalf;
  animation-name: fadeInHalf; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px); }

  100% {
    opacity: 1;
    -o-transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -ms-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOutHalf {
  0% {
    opacity: 1; }

  100% {
    opacity: 0.2; } }

@-moz-keyframes fadeOutHalf {
  0% {
    opacity: 1; }

  100% {
    opacity: 0.2; } }

@-o-keyframes fadeOutHalf {
  0% {
    opacity: 1; }

  100% {
    opacity: 0.2; } }

@keyframes fadeOutHalf {
  0% {
    opacity: 1; }

  100% {
    opacity: 0.2; } }

.fadeOutHalf {
  -webkit-animation-name: fadeOutHalf;
  -moz-animation-name: fadeOutHalf;
  -ms-animation-name: fadeOutHalf;
  -o-animation-name: fadeOutHalf;
  animation-name: fadeOutHalf; }

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px); } }

@-moz-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -moz-transform: translateY(0); }

  100% {
    opacity: 0;
    -moz-transform: translateY(-20px); } }

@-o-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -o-transform: translateY(0); }

  100% {
    opacity: 0;
    -o-transform: translateY(-20px); } }

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0); }

  100% {
    opacity: 0;
    transform: translateY(-20px); } }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  -moz-animation-name: fadeOutUp;
  -ms-animation-name: fadeOutUp;
  -o-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0); }

  100% {
    opacity: 0;
    display: none;
    -webkit-transform: translateY(20px); } }

@-moz-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -moz-transform: translateY(0); }

  100% {
    opacity: 0;
    display: none;
    -moz-transform: translateY(20px); } }

@-o-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -o-transform: translateY(0); }

  100% {
    opacity: 0;
    display: none;
    -o-transform: translateY(20px); } }

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0); }

  100% {
    opacity: 0;
    display: none;
    transform: translateY(20px); } }

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  -moz-animation-name: fadeOutDown;
  -ms-animation-name: fadeOutDown;
  -o-animation-name: fadeOutDown;
  animation-name: fadeOutDown; }

@-webkit-keyframes fadeOutBg {
  0% {
    background-color: white; }

  100% {
    background-color: rgba(255, 255, 255, 0.2); } }

@-moz-keyframes fadeOutBg {
  0% {
    background-color: white; }

  100% {
    background-color: rgba(255, 255, 255, 0.2); } }

@-o-keyframes fadeOutBg {
  0% {
    background-color: white; }

  100% {
    background-color: rgba(255, 255, 255, 0.2); } }

@keyframes fadeOutBg {
  0% {
    background-color: white; }

  100% {
    background-color: rgba(255, 255, 255, 0.2); } }

.fadeOutBg {
  -webkit-animation-name: fadeOutBg;
  -moz-animation-name: fadeOutBg;
  -ms-animation-name: fadeOutBg;
  -o-animation-name: fadeOutBg;
  animation-name: fadeOutBg; }

@-webkit-keyframes fadeInBg {
  0% {
    background-color: rgba(255, 255, 255, 0.2); }

  100% {
    background-color: white; } }

@-moz-keyframes fadeInBg {
  0% {
    background-color: rgba(255, 255, 255, 0.2); }

  100% {
    background-color: white; } }

@-o-keyframes fadeInBg {
  0% {
    background-color: rgba(255, 255, 255, 0.2); }

  100% {
    background-color: white; } }

@keyframes fadeInBg {
  0% {
    background-color: rgba(255, 255, 255, 0.2); }

  100% {
    background-color: white; } }

.fadeInBg {
  -webkit-animation-name: fadeInBg;
  -moz-animation-name: fadeInBg;
  -ms-animation-name: fadeInBg;
  -o-animation-name: fadeInBg;
  animation-name: fadeInBg; }

@-webkit-keyframes loaded {
  0% {
    background-color: #67c522; }

  20% {
    background-color: #b9e74b; }

  50% {
    background-color: #8de74b; }

  100% {
    background-color: #67c522; } }

@-moz-keyframes loaded {
  0% {
    background-color: #b9e74b; }

  50% {
    background-color: #bde74b; }

  100% {
    background-color: #67c522; } }

@-webkit-keyframes loading {
  0% {
    background-color: #FFF; }

  50% {
    background-color: #b9e74b; }

  100% {
    background-color: #FFF; } }

@-moz-keyframes loading {
  0% {
    background-color: #FFF; }

  50% {
    background-color: #b9e74b; }

  100% {
    background-color: #FFF; } }

@-webkit-keyframes bg-load {
  0% {
    background-color: #CFCFCF; }

  50% {
    background-color: #d2f2d2; }

  100% {
    background-color: #CFCFCF; } }

@-moz-keyframes bg-load {
  0% {
    background-color: #CFCFCF; }

  50% {
    background-color: #d2f2d2; }

  100% {
    background-color: #CFCFCF; } }

.fullWidth {
  width: 100%; }

.slide-container {
  position: relative; }

.in {
  background: red; }

.out {
  background: blue; }

.backwardTransition, .forwardTransition {
  position: absolute;
  width: 100%; }

.backwardTransition.in, .backwardTransition.out, .forwardTransition.in, .forwardTransition.out {
  -webkit-transition: all 0.3s ease-out; }

.backwardTransition, .forwardTransition.out {
  -webkit-transform: translateX(-100%); }

.backwardTransition.in, .forwardTransition.in {
  -webkit-transform: translateX(0%); }

.backwardTransition.out, .forwardTransition {
  -webkit-transform: translateX(100%); }

.drawer {
  position: fixed;
  left: -25%;
  z-index: 9999;
  height: 100%;
  background: #4e5055;
  width: 25%; }

.drawer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 15px;
  background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.45)); }

.open-drawer .drawer {
  left: 0; }
.open-drawer .rest-of-page {
  margin-left: 25%; }

.open-drawer.mini-drawer .drawer {
  width: 10%;
  min-width: 100px; }
.open-drawer.mini-drawer .rest-of-page {
  width: 90%;
  margin-left: 10%; }

.drawer, .rest-of-page {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/* this prevents horizontal scroll when drawer is open */
.whole-page.open-drawer {
  width: 100%;
  overflow: hidden; }

@media only screen and (max-width: 767px) {
  .wrapper {
    overflow-x: hidden; }

  .open-drawer .drawer {
    min-width: 300px; }
  .open-drawer .rest-of-page {
    margin-left: 300px;
    min-width: 320px; } }
body {
  background: #f1f1f1; }

#maleContainer {
  background: #f1f1f1;
  height: 100%; }

.ipad-style-header {
  height: 44px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  /* needs latest Compass, add '@import "compass"' to your scss */
  background-color: #ededed;
  /* Old browsers */
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEDEDED', endColorstr='#FFD6D6D6');
  /* IE6-8 */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(top, #ededed 0%, #d6d6d6 100%);
  background-image: -moz-linear-gradient(top, #ededed 0%, #d6d6d6 100%);
  background-image: -o-linear-gradient(top, #ededed 0%, #d6d6d6 100%);
  background-image: linear-gradient(top, #ededed 0%, #d6d6d6 100%);
  border: 1px solid #ccc;
  border-bottom: 1px solid #aaaaaa;
  border-top: 1px solid #FFF; }

.gte9 .ipad-style-header {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  filter: none; }
