<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gigya_Socialize>
             <version>1.0.0</version>
        </Gigya_Socialize>
    </modules>
    
    <global>
        <models>
            <socialize>
                <class>Gigya_Socialize_Model</class>
            </socialize>
            <customer>
            	<rewrite>
            		<!-- session>Gigya_Socialize_Model_Customer_Session</session-->
            		<customer>Gigya_Socialize_Model_Customer_Customer</customer>
            	</rewrite>
            </customer>
        </models>
		<blocks>
			<socialize>
                <class>Gigya_Socialize_Block</class>
            </socialize>
        </blocks>
        <helpers>
			<socialize>
                <class>Gigya_Socialize_Helper</class>
            </socialize>
            <!-- >customer>
            	<rewrite>
            		<customer>Gigya_Socialize_Helper</customer>
            	</rewrite>
            </customer-->
        </helpers>
		<resources>
			<socialize_setup>
				<setup>
	               <module>Gigya_Socialize</module>
	               <class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
                    <use>core_setup</use>
                </connection>
			</socialize_setup>
		</resources>
    </global>
    
    <frontend>
		<routers>
            <socialize>
                <use>standard</use>
                <args>
                    <module>Gigya_Socialize</module>
                    <frontName>socialize</frontName>
                </args>
            </socialize>
            <customer>
            	<args>
                    <modules>
                         <Gigya_Socialize before="Mage_Customer">Gigya_Socialize_Customer</Gigya_Socialize>
                    </modules>
                </args>
            </customer>
        </routers>
		<layout>
            <updates>
                <socialize>
                    <file>socialize.xml</file>
                </socialize>
            </updates>
        </layout>
    </frontend>
    <default>
    	<socialize_sec>
    		<socialize_general_group>
    			<enabled>0</enabled>
    			<enabled_providers>facebook,twitter,yahoo,messenger,google,linkedin</enabled_providers>
    		</socialize_general_group>
    		<socialize_login_group>
    			<enabled>0</enabled>
    			<width>330</width>
    			<height>100</height>
    			<button_style>fullLogo</button_style>
    		</socialize_login_group>
    		<socialize_product_share_group>
    			<enabled>0</enabled>
    		</socialize_product_share_group>
	    	<socialize_product_reactionsbar_group>
	    		<enabled>0</enabled>
	    		<reactions>trendy,loveit,cute,hot</reactions>
	    		<repositionUI>1</repositionUI>
	    		<repositionUISelector>.product-img-box</repositionUISelector>
	    		<self_defined_reactions>[{ID: 'my_custom_button',text: 'Cusom Button',iconImgUp:'http://cdn.gigya.com/gs/i/reactions/icons/Amazing_Icon_Up.png',iconImgOver:'http://cdn.gigya.com/gs/i/reactions/icons/Amazing_Icon_Down.png',tooltip:'This is a custom button',userMessage: 'This is customizable!',headerText:'Your reaction to this post is \'cusomizable\'' } ]</self_defined_reactions>
	    	</socialize_product_reactionsbar_group>
	    	<socialize_recommendations_group>
	    		<enabled>0</enabled>
	    		<repositionUI>0</repositionUI>
	    		<repositionUISelector></repositionUISelector>
	    		<scope>both</scope>
	    		<privacy>private</privacy>
	    	</socialize_recommendations_group>
    	</socialize_sec>
    </default>
    <adminhtml>
   		<events>
		    <customer_delete_after>
		        <observers>
		            <gigya_socialize_observer>
		                <type>singleton</type>
		                <class>socialize/observer</class>
		                <method>onCustomerDeleteAfter</method>
		            </gigya_socialize_observer>
		        </observers>
		    </customer_delete_after>
		</events>		
    </adminhtml>
</config>