

.jan,.mar,.may,.jul,.sep,.nov {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAG5CAIAAADAmclyAAAAWElEQVQ4jdWQSw4AMAQFH4n7H1n3/aSqaLqwYQx5EBEGwETEAIbq+yvuhKlwzOav7kb/0DMWPpqzurx81h9Vrp9KVct9npsnO1Y2k4vKYcfczr2OW29RPg2Pcj+JGUCy8QAAAABJRU5ErkJggg==);
  background-repeat:repeat-x;
  height:441px;
}


.shirt-small-icon
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAABnUlEQVRIibXWv49MURQH8M+MlcjQkEiQUJAQhcSvqCQkRCT+BYmEZlWiEH8BatFS+g+0lAoK3SokCoJl7bLsYmzWVzFXMvvmzc5M4n2Tk/Puved8v7nnnXfvayUxAtdwAYewBS20sYSvmMEtPB/KkGQ9m07STbKcHv4kWSmWJL+TLCR5kWTfMJ72iF3sxjN0yriFqWKwEV18w5FhJFM1c5tLaU6WxJu4jVM1sV3cK3668D3Fm1Hlupi1OFbmDyY5n+Rs8ceT7ChrD/riH49Trk2V8cPiX+IcXmEnjmIWJ3C5L76jgrpyrSB69YcDuFNir2MOZ4qt4kYl/+cAY025LpUuGoZOkqvrrD+ZtLuq+IUfet00NiYVWSx+uUmR98XPNSnyuU9stSmRfzv5gu9NibwrflHvgGxEZKH44GNTIv3EH5oS6e+q2SZEUiH+1ITIUoW4kZ3MW/seXjchUv34Bk/bCUVaNXN7cb88b8XdcXPr7pOBS6cv+Qr24DC2D4nbNpCYwV+i/ThdSKuLbezSK9V8jcAGvMWjUSL/HX8BsExLIJActkcAAAAASUVORK5CYII=);
  width:27px;
  height:25px;
}

.tshirt-small-icon
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAABKklEQVRIib2WsUoDQRRFT4yKYmGjrZDGLuAXxO/xB2z9AT/Cws5eRKzESkSwEUXFRhQDqUSQoByLZEGXmawza/bCNPN275n3Zt/MtlSmrZmpE5qCzFbEe8AmsD4ec8DXONYGhsAt8AAcAedBFzU0uuqF6TpTO2W/VmDjV4FrYCWjMgCPQBd4LyZCe3JQAwDQAfZ+zZRS28koUUy7hW85kzvgvkYWhS4ZlTyYCeqCuq0eq4OElffVE3Wr7Bn7uopxlQA5jflUNWNVH/1U9Hz6z45/aQIyzIWkLCL6bJVJdHUBtXMhzwmQQS7kswlIyp5klyulT+ZzIYsJkI9opOJY6amH6tuE4+RV3VfXYj6hSyukDWCZ0V0xYFSBJeAJ6AM3k17+K6SWGvlb+QZsduBJ8QI7/AAAAABJRU5ErkJggg==);
  width:27px;
  height:25px;
}

.sock-small-icon
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAABoklEQVRIib2WP2sUQRiHnwunuVMPEwIGFc8/TUxjG9LYpbPyI6QIRPAj+B3sRaxSpBKsxEY7E1CwCAQkEEEuhQlYnXh33D0Wu4frZPay6yb5wTDzvjPzPjPvMjNbUzlrTZUc/wE4Ar4Ch8BSkUn1kpB5YC4tAD9PG1IHhhl7CLSBAdAFLgN9oBNOLJOui0AjYx8Ca8Ae8D2tn+StrqgupGWsUQqeSuux75jK7KRBkpKxhkAtGNOtCmkCrYw94t+dAfSqQqb5m5asL6tBVcilwL4CzAa+flXItcBuAdcDX+V0PQ7sOjAT+IZEVBTyEFiNzG0EvhYRFYHcB94QP1Ph7Xr3fyBtkkvxaqSvw/H0LJaFNIB3JJdiqLckHznc3e2ykNfAQsT/kuS83Iv0bUcjqbHy1LheqRs5ffvqXCxeHmQ3EuS9+iIH8EW9mRMrF/IjCPJZfa72I4AtdSYPMAmyrvbSIJvqinoQAeyozUmASRDUO+qDtP0sAvit3joJoE58tL5l2jeCvl/AI5IX8WQVWYm6oH5MU/hJXS44D5Wa5/Df9QfpPSQWLsELNAAAAABJRU5ErkJggg==);
  width:27px;
  height:25px;
}

.boxer-small-icon
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAABoUlEQVRIid3VO2sVURQF4G8mCb4CakDiq7Gy0Iux8QFaBcU/YCH4Y6zzU0QLhTSWglaCFoJJBEmiBFRQ8IGvXLbFuXOdjDPnWuRaZMEwM/vstdeZc9Y+U0SEcaMcu8KOEpmsPV/FcfS3oW6Bn7iHr0Vt45/hzDYI1HECq/UvuYs1bLYkT9VmV8204m6iadESn/GJrcu1gRV8ayG8xxv0MDHgPcWBwWx/NTiT+DGMR4SImImIfnTjVUQ8aok9znAiIuYjYuiunrzTlnCkEZvFuwwHzldLAZcyid/xEUcb8b3SXi1luBfqIhczics4jF0tYzOSWbpwDtMl9mEuk7ghLU0b5vDF3+6qMItTJc7iWEdSX7LhyY7x3ZLbcl9zucS1TMIyDtpq9SYO4WVm/HqJJ7iPFy0Jq4MiOZz2p0nreI1F3K4fK1PSsdLDFWmJPmBe6vAcHmKP5MJFqVGfD96Hzdh13RjRbBUWImKiq84oERFxa4TAg4gocjX+RURE3OkQWI+I6VH8nGvquIm32C/ZuhjcF6Q+yaK+8WPDzvnH/xeR340hnpEHanfoAAAAAElFTkSuQmCC);
  width:27px;
  height:25px;
  background-position:1px 0;
}

.calendar-container .title-block-inner
{
  height:358px;
}


.calendar-container.title-block
{
  background:none;
  background-color:#000;
  padding-top:0;
}

.calendar-container .title-block-container
{
  margin-top:0;
}

.calendar-container .title-block-inner
{
  background:none;
}

.months
{
  position:absolute;
  height:440px;
  z-index:1;
}

.month
{
  float:left;
  background-color:#0e0e0e;
  height:440px;
  padding:13px;
}

.month .month-title
{
  font-size:12px;
  font-family:proxima-nova,Helvetica,sans-serif;
  font-weight:700;
  letter-spacing:-1px;
  text-transform:uppercase;
  color:#fff;
  padding:15px;
  clear:both;
  text-align:center;
}

.feb .package-icon,.feb .month-title
{
  -webkit-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -ms-animation-delay:1.2s;
  -o-animation-delay:1.2s;
  animation-delay:1.2s;
}

.mar .package-icon,.mar .month-title
{
  -webkit-animation-delay:1.4s;
  -moz-animation-delay:1.4s;
  -ms-animation-delay:1.4s;
  -o-animation-delay:1.4s;
  animation-delay:1.4s;
}

.apr .package-icon,.apr .month-title
{
  -webkit-animation-delay:1.6s;
  -moz-animation-delay:1.6s;
  -ms-animation-delay:1.6s;
  -o-animation-delay:1.6s;
  animation-delay:1.6s;
}

.may .package-icon,.may .month-title
{
  -webkit-animation-delay:1.8s;
  -moz-animation-delay:1.8s;
  -ms-animation-delay:1.8s;
  -o-animation-delay:1.8s;
  animation-delay:1.8s;
}

.jun .package-icon,.jun .month-title
{
  -webkit-animation-delay:2s;
  -moz-animation-delay:2s;
  -ms-animation-delay:2s;
  -o-animation-delay:2s;
  animation-delay:2s;
}

.jul .package-icon,.jul .month-title
{
  -webkit-animation-delay:2.2s;
  -moz-animation-delay:2.2s;
  -ms-animation-delay:2.2s;
  -o-animation-delay:2.2s;
  animation-delay:2.2s;
}

.aug .package-icon,.aug .month-title
{
  -webkit-animation-delay:2.4s;
  -moz-animation-delay:2.4s;
  -ms-animation-delay:2.4s;
  -o-animation-delay:2.4s;
  animation-delay:2.4s;
}

.sep .package-icon,.sep .month-title
{
  -webkit-animation-delay:2.6s;
  -moz-animation-delay:2.6s;
  -ms-animation-delay:2.6s;
  -o-animation-delay:2.6s;
  animation-delay:2.6s;
}

.oct .package-icon,.oct .month-title
{
  -webkit-animation-delay:2.8s;
  -moz-animation-delay:2.8s;
  -ms-animation-delay:2.8s;
  -o-animation-delay:2.8s;
  animation-delay:2.8s;
}

.nov .package-icon,.nov .month-title
{
  -webkit-animation-delay:3s;
  -moz-animation-delay:3s;
  -ms-animation-delay:3s;
  -o-animation-delay:3s;
  animation-delay:3s;
}

.dec .package-icon,.dec .month-title
{
  -webkit-animation-delay:3.2s;
  -moz-animation-delay:3.2s;
  -ms-animation-delay:3.2s;
  -o-animation-delay:3.2s;
  animation-delay:3.2s;
}

.package-icon
{
  clear:both;
  margin:9px 13px;
  
  @include opacity(0);
  // opacity:0;
  // -moz-opacity:0;
  // filter:alpha(opacity=0);
  -webkit-animation:monthly-load .5s 1 ease-in-out 1s;
  -moz-animation:monthly-load .5s 1 ease-in-out 1s;
  -ms-animation:monthly-load .5s 1 ease-in-out 1s;
  -o-animation:monthly-load .5s 1 ease-in-out 1s;
  animation:monthly-load .5s 1 ease-in-out 1s;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -ms-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

.month-title
{
  @include opacity(0);
  // opacity:0;
  // -moz-opacity:0;
  // filter:alpha(opacity=0);
  -webkit-animation:monthly-load .5s 1 ease-in-out 1s;
  -moz-animation:monthly-load .5s 1 ease-in-out 1s;
  -ms-animation:monthly-load .5s 1 ease-in-out 1s;
  -o-animation:monthly-load .5s 1 ease-in-out 1s;
  animation:monthly-load .5s 1 ease-in-out 1s;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -ms-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

.month
{
  -webkit-animation:fade-everything .5s 1 ease-in-out 4.7s;
  -moz-animation:fade-everything .5s 1 ease-in-out 4.7s;
  -ms-animation:fade-everything .5s 1 ease-in-out 4.7s;
  -o-animation:fade-everything .5s 1 ease-in-out 4.7s;
  animation:fade-everything .5s 1 ease-in-out 4.7s;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -ms-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}


@-webkit-keyframes fade-everything {
	0%{
	  @include opacity(1);
	}

	100%
	{
	  @include opacity(0.5);
	}  
}

@-moz-keyframes fade-everything {
	0%{
	   @include opacity(1);
	}

	100%
	{
	   @include opacity(0.5);
	}  
}

@-ms-keyframes fade-everything {
	0%{
	  @include opacity(1);
	}

	100%
	{
	  @include opacity(0.5);
	}  
}


/* this loads the months one by one */

@-webkit-keyframes monthly-load {
	0%{
	  @include opacity(0);
	  -webkit-transform:translateY(0px);
	}

	50%
	{
	  @include opacity(0.9);
	  -webkit-transform:translateY(30px);
	}

	80%
	{
	  -webkit-transform:translateY(-10px);
	}

	100%
	{
	  @include opacity(0.3);
	  -webkit-transform:translateY(0px);
	}  
}

@-moz-keyframes monthly-load {
	0%{
	  @include opacity(0);
	  -moz-transform:translateY(0px);
	}

	50%
	{
	  @include opacity(0.9);
	  -moz-transform:translateY(30px);
	}

	80%
	{
	  -moz-transform:translateY(-10px);
	}

	100%
	{
	  @include opacity(0.3);
	  -moz-transform:translateY(0px);
	}  
}

@-ms-keyframes monthly-load {
	0%{
	  @include opacity(0);
	  -ms-transform:translateY(0px);
	}

	50%
	{
	  @include opacity(0.9);
	  -ms-transform:translateY(30px);
	}

	80%
	{
	  -ms-transform:translateY(-10px);
	}

	100%
	{
	  @include opacity(0.3);
	  -ms-transform:translateY(0px);
	}  
}

@-o-keyframes monthly-load {
	0%{
	  @include opacity(0);
	  -o-transform:translateY(0px);
	}

	50%
	{
	  @include opacity(0.9);
	  -o-transform:translateY(30px);
	}

	80%
	{
	  -o-transform:translateY(-10px);
	}

	100%
	{
	  @include opacity(0.3);
	  -o-transform:translateY(0px);
	}  
}

@keyframes monthly-load {
	0%{
	  @include opacity(0);
	  -moz-transform:translateY(0px);
	}

	50%
	{
	  @include opacity(0.9);
	  -moz-transform:translateY(30px);
	}

	80%
	{
	  -moz-transform:translateY(-10px);
	}

	100%
	{
	  @include opacity(0.3);
	  -moz-transform:translateY(0px);
	}  
}