@import "compass/css3/opacity";
@import "calendar.scss";
@import "../party.scss";

@import "jquery.reject.scss";
@import "../keep-calm110620120613.scss";
@import "subscribe/style.scss";


/* accordion */
.st-accordion ul li > a span {
  background: transparent url("../../images/arush/accordion/down.png") no-repeat center center;
  }


.quotes.container {
  margin-top:40px;
}

body.cms-index-index
{
  background:#FFF;
}

.std
{
  display:none;
}

.copy
{
  margin:38px 0 0;
  position:absolute;
  z-index:2;
  @include opacity(0);

  -webkit-animation:fade-in .5s 1 ease-in 5s;
  -moz-animation:fade-in .5s 1 ease-in 5s;
  -ms-animation:fade-in .5s 1 ease-in 5s;
  -o-animation:fade-in .5s 1 ease-in 5s;
  animation:fade-in .5s 1 ease-in 5s;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
}

.process
{
  margin:20px 0 0;
}

.one-third
{
  text-align:center;
}

.step-caption
{
  color:#444;
  width:80%;
  margin:0 auto;
}

a.convert.step
{
  float:left;
  font-size:12px;
  font-family:proxima-nova,arial,sans-serif;
  height:40px;
  line-height:40px;
  width:200px;
  margin:20px 50px;
}

a.convert.step.inactive
{
  float:left;
  font-size:15px;
  font-family:proxima-nova,arial,sans-serif;
  margin:20px auto;
  height:40px;
  line-height:40px;
  background:none;
  box-shadow:none;
  -webkit-box-shadow:none;
  cursor:default;
  width:100%;
  color:black;
  text-shadow: 0pt -1px 0pt white;

}
.lte9 a.convert.step.inactive {
	filter:none;
}


#middle-body-convert,#body-convert-2
{
  font-family:proxima-nova;
  font-size:12px;
}
#body-convert-2 {
  width:100%;
}
.green-box .convert-button {
   width: 90%;
  margin: 5% 5%;
}
#middle-body-convert
{
  width:100%;
}

.male-explanation
{
  font-family:proxima-nova;
  font-weight:300;
  color:#595959;
  font-size:16px;
  margin:24px 0;
}

.male-explanation-img
{
  margin:40px auto;
}

.fade div
{
  margin-top:-360px;
}

#gift-header-convert
{
  text-shadow:0 -1px 0 #000;
}

.process
{
  margin:80px 0;
  position:relative;
  display:inline;
  float:left;
}

.process .one-third
{
  margin: 0 10px 0 10px;
}

.description
{
  margin:0 0 35px;
}

h4.description-copy,h4 strong
{
  color:#FFF;
  text-align:center;
  font-size:23px;
  font-family:proxima-nova,helvetica,arial,sans-serif;
}

.one-liner
{
  text-align:center;
  font-size:36px;
  font-family:proxima-nova,helvetica;
  font-weight:700;
  letter-spacing:-2px;
  color:#FFF;
  text-transform:uppercase;
}

.title-block.last
{
  margin:100px auto;
}

.title-block.last a span.red
{
  color:#d2002b;
}

.male.row {
  margin-top:128px;
  #submit_email {
    line-height: 60px;
  }
  .mobile-buttons.saving {
    margin:20px 0 0 0;
  }
  #name-to-save, #step1, #step3 {
    line-height: 60px;
  }
  #step3 {
    display:none;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    cursor: default;
    color: white;
    text-shadow: 0pt -1px 0pt black;
  }

}
.male.row #male-welcome-msg {
  color:#83F52C;
  font-family:courier,monospace;
  font-size:20px;
  margin-top: 22px;
  display: block;
}

@keyframes fade-in {
	0%{
	  @include opacity(0);
	}

	100%
	{
	  @include opacity(1);
	}  
}

@-webkit-keyframes fade-in {
	0%{
	  @include opacity(0);
	}

	100%
	{
	  @include opacity(1);
	}  
}

@-moz-keyframes fade-in {
	0%{
	  @include opacity(0);
	}

	100%
	{
	  @include opacity(1);
	}  
}

@-ms-keyframes fade-in {
	0%{
	  @include opacity(0);
	}

	100%
	{
	  @include opacity(1);
	}  
}

@media only screen and (max-width: 959px) {
  .one-liner {
    font-size:29px;
  }
  h4.description-copy {
    font-size:21px;
  }
  .oct,.nov,.dec {display:none;}
  a.convert.step {margin:20px 18px;}
  .quote-footer .footer-container {width:100%;}
}

@media only screen and (max-width: 767px) {
  .one-liner {
    font-size:31px;
    letter-spacing:-1px;
  }
  h4.description-copy {
    font-size:18px;
  }
  .jun,.jul,.aug,.sep {display:none;}
  a.convert.step {
    margin:20px 110px;
  }
  .step-caption {margin-bottom:20px}
  .calendar-container .title-block-inner {height:608px;}
  .male.row {text-align:center;}
  .male.row .thirteen {
    margin-top:20px;
  }

  .quote-box {margin-bottom:43px;}

}
@media only screen and (max-width: 479px) {
  .one-liner {
    font-size:27px;
    line-height:27px;
    padding:9px;
  }
  .apr, .may {display:none;}
  a.convert.step {margin:20px 48px;}
}