<?xml version="1.0"?>
<config>
	<modules>
    	<Ebizmarts_MailchimpPro>
        	<version>0.0.1</version>
      	</Ebizmarts_MailchimpPro>
	</modules>
	<global>
        <blocks>
            <mailchimpPro>
                <class>Ebizmarts_MailchimpPro_Block</class>
			</mailchimpPro>
        </blocks>
		<helpers>
			<mailchimpPro>
				<class>Ebizmarts_MailchimpPro_Helper</class>
			</mailchimpPro>
		</helpers>
		<models>
			<newsletter>
				<rewrite>
					<subscriber>Ebizmarts_MailchimpPro_Model_Subscriber</subscriber>
				</rewrite>
			</newsletter>
			<mailchimpPro>
				<class>Ebizmarts_MailchimpPro_Model</class>
				<resourceModel>mailchimpPro_mysql4</resourceModel>
			</mailchimpPro>
			<mailchimpPro_mysql4>
				<class>Ebizmarts_MailchimpPro_Model_Mysql4</class>
				<entities>
                    <subscripter>
                        <table>ebizmarts_mailchimppro</table>
                    </subscripter>
                </entities>
			</mailchimpPro_mysql4>
		</models>
		<resources>
            <mailchimpPro_setup>
                <setup>
                    <module>Ebizmarts_MailchimpPro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mailchimpPro_setup>
            <mailchimpPro_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </mailchimpPro_write>
            <mailchimpPro_read>
               <connection>
                <use>core_read</use>
              </connection>
            </mailchimpPro_read>
        </resources>
	</global>
	<adminhtml>
   		<layout>
            <updates>
                <mailchimpPro>
                    <file>mailchimppro.xml</file>
                </mailchimpPro>
            </updates>
        </layout>
        <events>
			<controller_action_postdispatch_adminhtml_customer_save>
                <observers>
                    <mailchimpPro_update_data_from_admin>
	                    <type>singleton</type>
                        <class>mailchimpPro/observer</class>
                        <method>updateNewAdminObserver</method>
                    </mailchimpPro_update_data_from_admin>
                </observers>
            </controller_action_postdispatch_adminhtml_customer_save>
        </events>
	</adminhtml>
	<admin>
    	<routers>
            <mailchimpPro>
                <use>admin</use>
                <args>
                    <module>Ebizmarts_MailchimpPro</module>
                    <frontName>mailchimpPro</frontName>
                </args>
            </mailchimpPro>
        </routers>
	</admin>
	<default>
		<mailchimpPro>
			<general>
				<active>0</active>
				<intgr>0</intgr>
				<url>http://api.mailchimp.com/1.2/</url>
			</general>
			<subscribe>
				<forece_checkout>0</forece_checkout>
				<forece_register>0</forece_register>
				<email_type>html</email_type>
				<double_optin>1</double_optin>
				<update_existing>0</update_existing>
				<replace_interests>1</replace_interests>
				<send_welcome>0</send_welcome>
				<mapping_fields><![CDATA[<]]>customer='firstname' mailchimp='FNAME'<![CDATA[><]]>customer='lastname' mailchimp='LNAME'<![CDATA[>]]></mapping_fields>
			</subscribe>
			<unsubscribe>
				<delete_member>0</delete_member>
				<send_goodbye>1</send_goodbye>
				<send_notify>1</send_notify>
			</unsubscribe>
		</mailchimpPro>
	</default>
	<frontend>
        <events>
	        <controller_action_postdispatch_newsletter_manage_save>
                <observers>
                    <mailchimpPro_subscribe_observer>
	                    <type>singleton</type>
                        <class>mailchimpPro/observer</class>
                        <method>customerObserver</method>
                    </mailchimpPro_subscribe_observer>
                </observers>
            </controller_action_postdispatch_newsletter_manage_save>
        	<controller_action_postdispatch_newsletter_subscriber_new>
                <observers>
                    <mailchimpPro_subscribe_new_observer>
	                    <type>singleton</type>
                        <class>mailchimpPro/observer</class>
                        <method>subscribeObserver</method>
                    </mailchimpPro_subscribe_new_observer>
                </observers>
            </controller_action_postdispatch_newsletter_subscriber_new>
			<controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <mailchimpPro_subscribe_from_checkout_observer>
	                    <type>singleton</type>
                        <class>mailchimpPro/observer</class>
                        <method>registerObserver</method>
                    </mailchimpPro_subscribe_from_checkout_observer>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
			<checkout_type_onepage_save_order>
                <observers>
                    <mailchimpPro_subscribe_from_osc_observer>
	                    <type>singleton</type>
                        <class>mailchimpPro/observer</class>
                        <method>registerObserver</method>
                    </mailchimpPro_subscribe_from_osc_observer>
                </observers>
            </checkout_type_onepage_save_order>
			<customer_save_after>
                <observers>
                    <mailchimpPro_update_data>
	                    <type>singleton</type>
                        <class>mailchimpPro/observer</class>
                        <method>updateNewObserver</method>
                    </mailchimpPro_update_data>
                </observers>
            </customer_save_after>
        </events>
		<layout>
            <updates>
                <mailchimpPro>
                    <file>mailchimppro.xml</file>
                </mailchimpPro>
            </updates>
        </layout>
	</frontend>
</config>