.block-recommendations { font-size:11px; line-height:1.25; }
.block-recommendations .block-title strong {  background-position:0 0; background-repeat:no-repeat; padding-left:21px; }
.block-recommendations .block-title strong { background-image:url(../images/i_block-recommendations.gif); }