@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

.app-holder {
	margin:15% 0 0 25%;
}

.top-section {
	padding-bottom:30px;
	background:white;
}

.container.withShadow {
	background:#FFF;
}

.top-block, .share-block {

	.landing-title {

		span.landing-title-span {
			line-height:45px;
		}

		margin:30px 5% 0;
		.landing-subtitle {

		}
	}

}

.sub-block-holder {
	.sub-block-bg {
		.sub-block {
			.landing-title {
				font-size:20px;
				letter-spacing:-1px;
			}

		}
	}						
}


.share-top {
	margin-top:60px;
	.share {
		float:left;
		margin-right:30px;
	}
	.share.follow {
		float:right;
		margin-right:0;
	}
}

.blurb {
	font-family:"proxima-nova",Hevetica, Arial;
	font-weight:bold;
	font-size:18px;
	letter-spacing:-1px;
	text-transform:uppercase;
	color:black;
	margin:20px 0;
	text-align:center;
}

button.convert.get-the-app {
	width:45%;
	font-size:13px;
	float:left;
	margin: 5px;
	line-height: 50px;
	height: 50px;
}

input.clear-input {
	background:transparent;
	border:none;
	width:40%;
	padding-left:1%;
	float:left;
}

.get-the-app-input {
	width:100%;
	
	padding-right:0;
	color:#9f9f9f;
	border:1px solid #ddd;
	background:#f9f9f9;
}

.input-overlay {
	float:left;
	padding:24px 0 24px 20px;
	color: #9F9F9F;
	padding-left:20px;
	font-size: 21px;
}

.signup {
	text-align: left;
	margin:50px;
	margin-top:80px;

	.mobile-os-selector {
		padding:5%;
		margin-right:5%;
		margin-bottom:20px;
		width:37%;

		// background:#CFCFCF;
		
		@include border-radius(5px);
		float:left;
		text-transform:none;
		
		text-shadow: 0 1px 0 white;
		letter-spacing:-2px;
		color: #595959;
		
	
		.os-title {
			font-family: "ff-enzo-web", Helvetica, Arial, sans-serif;
			font-size:16px;
			letter-spacing: -1px;
			text-align:center;
		}
	}

	.mobile-os-selector:hover {
		@include box-shadow(#444 0 1px 8px);
	}
	.mobile-os-selector.android {
		margin-right:0;
	}

}


/* media queries */

@media only screen and (max-width: 767px) {
	.top-section {
		.app-holder {
			width: 50%;
			margin: 0 auto;
			margin-top:30px;
		}
		.landing-title {
			margin:5% 5% 0;

		}
		.signup {
			margin:5%;
			.mobile-os-selector {
				margin-right:0;
				width:90%;
			}
			button.convert.get-the-app {
				width:96%;
				margin:2%;
			}
		}
	}
			
	.get-the-app-input {
		width:100%;
		margin-bottom:10px;

	}
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
	button.convert.get-the-app {
		
		clear:both;
		width:96%;
		margin:2%;
	}
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
	.top-section {
		
		.landing-title {
			margin:5% 5% 0;

		}
		.signup {
			margin:5%;
			.mobile-os-selector {
				margin-right:0;
				width:90%;
			}
			button.convert.get-the-app {
				width:96%;
				margin:2%;
			}
		}
	}
			
	.get-the-app-input {
		width:100%;
		margin-bottom:10px;

	}
	
	
}



