@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

.app-holder {
	margin:15% 0 0 25%;
}

.top-section {
	padding-bottom:30px;
	background:white;
}

.container.withShadow {
	background:#FFF;
}

.top-block, .share-block {

	.landing-title {

		span.landing-title-span {
			line-height:45px;
		}

		margin:30px 5% 0;
		.landing-subtitle {

		}
	}

}

.sub-block-holder {
	.sub-block-bg {
		.sub-block {
			.landing-title {
				font-size:20px;
				letter-spacing:-1px;
			}

		}
	}						
}


.share-top {
	margin-top:60px;
	.share {
		float:left;
		margin-right:30px;
	}
	.share.follow {
		float:right;
		margin-right:0;
	}
}

.blurb {
	font-family:"proxima-nova",Hevetica, Arial;
	font-weight:bold;
	font-size:18px;
	letter-spacing:-1px;
	text-transform:uppercase;
	color:black;
	margin:20px 0;
	text-align:center;
}

button.convert.get-the-app {
	width:45%;
	font-size:14px;
}

input.get-the-app-input {
	width:41%;
	padding-left:60px;
	padding-right:0;
	color:#9f9f9f;
}

.input-overlay {
	position:absolute;
	padding:24px 0 24px 20px;
	color: #9F9F9F;
	padding-left:20px;
	font-size: 21px;
}

.signup {
	text-align: left;
	margin:50px;
	margin-top:80px;

	.mobile-os-selector {
		padding:5%;
		margin-right:5%;
		width:35%;

		// background:#CFCFCF;
		@include box-shadow(#FA3F8D 0 1px 8px);
		@include border-radius(5px);
		float:left;
		
		text-shadow: 0 1px 0 white;
		letter-spacing:-2px;
		color: #595959;
		
	
		.os-title {
			font-family: "ff-enzo-web", Helvetica, Arial, sans-serif;
			font-size:16px;
			letter-spacing: -1px;
			text-align:center;
		}
	}
	.mobile-os-selector:last-child {
		margin-right:0;
	}

}