// globals

$radius: 5px;
$twitter-avatar-size: 72px;
$how-to-step-number-size: $twitter-avatar-size - 20;

@mixin circle() {
	@include border-radius(200px);
}

@import "components/tweets.scss";
@import "components/sprite.scss";


// fonts

.subheading-subtitle {
	font-weight:normal;
	font-size:22px;
	color:#6F6F6F;
	letter-spacing: -1px;
	@include ani-delay(0s);

  }

.centered-content.grey-back .subheading-subtitle.smaller-subtitle {
	font-size:18px;
	letter-spacing:-1px;
	margin-top:20px;
}

.subheading-subtitle.no-float.centered {
	text-align:center;
}

// structure 

.transparent-block.with-margin {
	clear:both;
	margin:40px auto;
}


// homepage
.swipe {
	margin-top:40px;
}

.swipe {
	.quote-box {
		margin:0;
	}
	.quotes {
		.quote {
			background:#F9F9F9;
		}
		.quote-triangle {
			border-top-color:#F9F9F9;
		}
	}

	.author-text-container {
		float:left;
		margin-top:12px;
	}
	.twitter-avatar-container {
		width:$twitter-avatar-size;
	}


	.v-outer-container {
		height:38px;
	}
	.v-aligned-element {
		font-weight: normal;
		letter-spacing: 0;
		line-height: 23px;
	}

	span.author, span.caption-small {
		line-height:18px;
	}
	span.caption-small {
		font-weight:normal;
		letter-spacing:-1px;
	}

}

.customer-quote {
	// width:70%;
	width:303px;
	margin:80px auto 40px;
	// margin-bottom:-120px;
	@include ani-delay(1s);
}

.subheading-container {
	margin: 60px 45px;
	// position: absolute;
	// z-index: 200;
}


img.behind {
	margin-top:30px;
}

	
.landing-subtitle {
  margin:30px 0 0 !important;
}

.landing-title {
	.heading {
		text-transform:uppercase;
	}
}

.centered-content {
  
  // this is needed for absolutely positioned images inside this element
  position:relative;

  font: bold 36px/36px "proxima-nova", Helvetica, Arial, sans-serif;
  letter-spacing:-2px;
  text-align:center;
  margin:0 25px 30px;

  a.convert {
    width:80%;
    float:none;
	letter-spacing:0px;
	height:70px;
	line-height:70px;

  }

  .subheading {

  }

  .subheading-subtitle {
	@include ani-delay(0s);
  }
}
.centered-content.left {
	margin-right:0;
}

.centered-content.right {
	margin-left:0;
}

.centered-content.grey-back {
	@include box-shadow(rgba(whiteSmoke, 0.1) 0 0 2px 5px,rgba(white, 0.6) 0 0 40px 30px inset);

	.subheading-subtitle {
		margin:0 20px 40px;
		font-size:26px;
		text-shadow:0 1px 0 white;
		letter-spacing:-2px;

	}
}

.vertical-middle {

}

.share-buttons {
	margin:10px 0 40px;
}


/* GENERIC */

.call-to-action-container {
	margin: 40px auto 0;
}

.ani {
	@include ani-duration(1s);
	@include ani-delay(1s);
}

.all-corners {
	@include border-radius($radius);
}

.image-overlay {
	margin-bottom:-40px;
}

.fullwidth {

	width:100%;
	position:relative;

}


.withTopShadow::before {
	content: "";
	position: absolute;
	@include background-image(linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.3)));
	left:0;
	top: 0px;
	height: 7px;
	width: 100%;
	z-index:100;
}

.withTopShadow.relative {
	position: relative;
}


/* HOW TO */

.how-to-steps {
	.subheading-container {
		margin:0 0 10px;
	}
}

.how-to-step {
	float:left;
	width:100%;
	.behind {
		margin:40px 0;

	}
	.behind.male-scan {
		margin:40px auto 40px;

	}
	.circle-container {

	}
	.step-circle {
		border: 5px solid #cfcfcf;
		@include circle();
		width:$how-to-step-number-size;
		height:$how-to-step-number-size;
		span.small-heading {

		}
		span.number {
			font-size:20px;
			font-weight:bold;
			line-height:$how-to-step-number-size;
		}
	}

	.subheading-subtitle.no-float {
		float:none;
		margin: 0 11%;
		line-height: 27px;
	}

}

/* REPEATED BLOCKS SKINNING */

.conversion-reminder {

	a.convert {
		width:250px;
		height:60px;
		line-height:60px;
		float:none;
		margin:20px auto;
	}
}

.male-scan, .male-scan-transparent {
	background: url(../../images/leanlanding/home/male-scan.png) 0 0 no-repeat;
	width:130px;
	height:130px;
	line-height:128px;
	font-family: ff-enzo-web,helvetica,sans-serif;
	font-size: 12px;
	padding-left:1px;
	color: #777;
	text-shadow: 0 1px 0 white;
	text-align: center;
	letter-spacing:0;
}

.male-scan-transparent {
	background: url(../../images/leanlanding/home/male-scan-transparent.png) 0 0 no-repeat;
	width:150px;
	height:150px;
	line-height:150px;
	margin: 40px auto;
}


/* SPLIT PARTS THAT ARE CENTERED AROUND THE MIDDLE PART */

.centered-parts {
	width:100%;
	clear:both;
	float:left;
	margin: 40px 0;
}
.part {
	float:left;
}
.left.part, .right.part {

	width:45%;
	text-align:right;
}
.center.part {
	width:10%;
	height:10%;
	.step-circle {
		margin:0 auto;
	}
}
.right.part {
	text-align:left;
}

.big-centered-steps {
	.left.part, .right.part {
		margin-top:$how-to-step-number-size  / 2 + 3;
	}
}

/* FADING LINES */

.horizontal-line {
	width:100%;
	height:1px;
}

.horizontal-line.right-fade {
	background-color: #909191;
	@include background-image(linear-gradient(left, rgb(144, 145, 145), rgb(234, 234, 234)));
	@include filter-gradient(rgb(144, 145, 145), rgb(234, 234, 234), horizontal);

}

.horizontal-line.left-fade {
	background-color: #909191;
	@include background-image(linear-gradient(left, rgb(234, 234, 234), rgb(144, 145, 145)));
	@include filter-gradient(rgb(234, 234, 234), rgb(144, 145, 145), horizontal);
}




/* OLD YUCKY OVERRIDES */

.footer-container {
	span.author, span.caption {
		text-align:left;
	}
}