<?xml version="1.0"?>
<config>
    <modules>
        <Vdh_Randomquote>
            <version>0.1.0</version>
        </Vdh_Randomquote>
    </modules>
    <global>
        <helpers>
        	<randomquote>
        		<class>Vdh_Randomquote_Helper</class>
        	</randomquote>
        </helpers>
        <blocks>
            <randomquote>
            	<class>Vdh_Randomquote_Block</class>
            </randomquote>
            
            <payment>
            	<rewrite>
            		<catalog_product_view_profile>Vdh_Randomquote_Block_Catalog_Product_View_Profile</catalog_product_view_profile>            		
            	</rewrite>
            </payment>
        </blocks>            
  		<models>
            <randomquote>
                <class>Vdh_Randomquote_Model</class>
            </randomquote>
            <core>
            	<rewrite>
					<email_template>Vdh_Randomquote_Model_Email_Template</email_template>            		
            	</rewrite>
            </core>
        </models> 
       
		<page>
			<layouts>            
				<plan module="randomquote" translate="label">
			        <label>Plans Layout</label>
	        		<template>vdh/randomquote/product/plan.phtml</template>
			        <layout_handle>product_plan</layout_handle>    	
			    </plan>
			</layouts>
		</page>    	
    </global> 
    <frontend>
    	<layout>
            <updates>
                <randomquote>
                    <file>vdh/randomquote/layout.xml</file>
                </randomquote>
            </updates>
    	</layout> 
        <routers>
            <randomquote>
                <use>standard</use>
                <args>
                    <module>Vdh_Randomquote</module>
                    <frontName>randomquote</frontName>
                </args>
            </randomquote>
        </routers>
        

		<product>
			<collection>
				<attributes>
					<num_socks />     
				</attributes>
			</collection>
		</product>

    </frontend>      
</config>