<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <arush_test>
            <version>0.0.1</version>
        </arush_test>
    </modules>
    <global>
	    <blocks>
	        <adminhtml>
	            <rewrite>
	            </rewrite>
	        </adminhtml>
	    </blocks>
     	<helpers>
        	<test>
        		<class>Arush_Test_Helper</class>
        	</test>
        </helpers>
    </global>
    <adminhtml>
      <acl>
          <resources>
              <admin>
                  <children>
                      <system>
                          <children>
                              <config>
                                  <children>
                                      <test>
                                          <title>Test Controller</title>
                                      </test>
                                  </children>
                              </config>
                          </children>
                      </system>
                  </children>
              </admin>
          </resources>
      </acl>
      <events></events> 
      <translate></translate>
  </adminhtml> 
  
    <frontend>
     	<layout>
            <updates>
                <test>
                    <file>arush/test.xml</file>
                </test>
            </updates>
        </layout>
        <routers>
            <test>
                <use>standard</use>
                <args>
                    <module>Arush_Test</module>
                    <frontName>test</frontName>
                </args>
            </test>
        </routers>   
    </frontend>
    
    <admin>
       <routers>
          <test>
              <use>admin</use>
              <args>
                  <module>Arush_Test</module>
                  <frontName>test</frontName>
              </args>
          </test>
      </routers>
  </admin>


    <default>
        <test>
            <options>
                <!-- fbpageid></fbpageid-->
            </options>
        </test>
    </default>
</config>