body {
	background: #cfcfcf;
}

.top-header {
	background: #fff;
	height: 80px; 
}

.top-header p {
    padding: 0;
}
.top-header p a {
	float: left;
}
.top-header a.header-link
,.top-header .catalogLinks a
, .top-cart #basket-items {
	display: block;
	height: 80px;
	border: 0px;
	border-top: solid 7px #cfcfcf;	
	margin-top: -7px;
	padding-top: 20px;	
	font-family: ff-enzo-web,ProximaNovaBold;
	text-transform: uppercase;
	color: #000;
	font-size: 15px;
	font-weight:900;
	line-height: normal;
	text-align: right;
	background: transparent;
	width: 120px;
}

.top-header a.header-link:hover
,.top-header .catalogLinks a:hover {
	border-top: solid 7px #000;
}

.top-header a.header-link.active
,.top-header .catalogLinks a.active {
	border-top: solid 7px #000;	
}

#nav-invite a.header-link {

padding-left:38px;
}


.top-header .account-link a.header-link {padding-right:56px;}


/* Counter styling */
.points-special-header .flip-counter ul.cd{float:left;list-style-type:none;margin:0;padding:0}
.points-special-header .flip-counter li{background:url(../images/counter/small-digits.png) 0 0 no-repeat}
.points-special-header .flip-counter li.t{background-position:0 0;width:20px;height:15px}
.points-special-header .flip-counter li.b{background-position:0 0;width:20px;height:24px}
.points-special-header .flip-counter li.s{background-position:-53px -1030px;width:0px;height:0px}


.flip-counter ul.cd{float:left;list-style-type:none;margin:0;padding:0}
.flip-counter li{background:url(../images/counter/digits.png) 0 0 no-repeat}
.flip-counter li.t{background-position:0 0;width:53px;height:39px}
.flip-counter li.b{background-position:0 0;width:53px;height:64px}
.flip-counter li.s{background-position:-53px -1030px;width:0px;height:0px}


/* Overrides and resets */
#nav-invite {
	margin: 0px;
}

.wrapper {
	background: transparent;
}

.header-container {
	width: inherit;
	background: #fff;
	margin: 7px 0 0;
}

.header {

	width: 972px;
	margin: 0 auto;
}


.header .points-special-header {
	background: transparent;
	margin: 0px;
}

.top-header a.header-link {
    height: auto;
}
.points-special-header a {
    padding: 0px;    
    float: right;
}
.points-special-header {
	width: 100%;
	margin: 0px;
}
.points-special-header span
, .top-header .widget-category-link span.title
, a.flname
	 {
	padding: 7px 7px 0 0;
	display: block;
	float: right;
	color: #595959;
	font-family: 'ProximaNovaLight';
	font-weight: normal;
	font-size: 12px;
	text-transform: none;
}
.top-header .widget-category-link span.title {
	padding: 7px 0 0 0;
}

.top-cart #basket-items {
	width: auto;
}


.top-cart .block-title strong {
	padding: 7px 7px 0 0;
	color: #595959;
	font-family: 'ProximaNovaLight';
	font-weight: normal;
	text-transform: none;	

}

.points-special-header .flip-counter {
	float: left;
}


#nav-invite a {
    color: #000;
    line-height: normal;
}


.top-header .top-name {
    height: auto;
    padding: 0;
}

.branding {
    float: left;
    margin-top: 8px;
}

.top-header img {
	padding-top: 0px;
}
.account-link {
	text-align: right;
	width:120px;
	padding-left:10px;
	
}
.top-header a.header-link {
    height: auto;
    margin: -7px 0 0 0;
}

.top-header .catalogLinks a {
	width:130px;
}

a.flname {
	margin: 0;
	padding: 5px 0 0 0;
	float: right;
}


.top-cart #basket-items span {
	text-align: right;
}


.header, .header-container {
	height: auto;
}

.breadcrumbs {
	clear: both;
	width: 100%;
	
	height: 30px;;	
	background: #cfcfcf;
	padding: 0px;
	
}
.breadcrumbs ul {
	padding: 8px 0;
}
.breadcrumbs li, .breadcrumbs li a {
	color: #595959;
	font-family: 'ProximaNovaRegular';
}

.breadcrumbs .center {
	display: block;
    margin: 0 auto;
    text-align: left;
    width: 972px;
}


.title-block {
	display: none;
	background: #d2002b url('../images/red-gradient-top.png') repeat-x 0% 0%;
	padding-top: 18px;
	text-align: left;
}

.title-block-inner {
 	background: url('../images/red-gradient-bottom.png') repeat-x 0% 100%; 
	min-height: 64px;
	padding-bottom: 24px;
}


.title-block .title {
	font-family: 'ProximaNovaBold';
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
	width: 50%;	
}

.title-block .title span { 
	display: block;
	margin: 0 auto;
	width: 972px;
	position: relative;
}

.urlcode-input-box .edit {
	position: relative;
	margin-right: 0px;
	background: #d2002b;
	color: #fff;
	text-transform: uppercase;
	font-family: 'ProximaNovaSemiBold';	
	font-size: 11px;
	border: 0px;
	padding: 7px 9px;
	cursor: pointer;
	
}
input#referral_url {
	width: auto;
	display: inline;
	border: 0px !important;
	background: transparent !important;
	padding: 0 !important;
	
}

.my_referrals-urlcode_group div.urlcode-input-box {
    float: none !important;
    border: solid 1px #b0b0b0 !important;
    padding: 6px !important;
    width: 418px;
}
/* Invite page styles */
.invite-options:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.invite-options {
	display: inline-block;
	margin: 25px 0 0 15px	
}
 
html[xmlns] .invite-options {
	display: block;
}
 
* html .invite-options {
	height: 1%;
}

.invite-options h3 {
	font-family: 'ProximaNovaLight';
	font-size: 18px;
	font-weight: 200;
}

.invite-options ul li {
	display: block;
	float: left;
	width: 134px;
	height: 52px;
	margin-right: 10px;
	background: #cfcfcf;
	cursor: pointer;
}

.invite-options ul li.selected {
	background: #595959;
}

.invite-options ul li input {
	display: none;
}

.send-now-box {
	height: auto !important;
}

.send-now-box-left, .send-now-box-right {
	height: auto !important;
}

/* Random Quote */

#randomQuotePreview {
	margin: 20px;
}

.random-quote span {
	display: block;
	font-family: 'pt-serif-caption';	
	
}
.random-quote .apostrophe {
	font-size: 74px;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: italic;
	color: #df778c;
	position: absolute;
	margin: -23px 0 0 -20px;
	letter-spacing: -6px;
}
.random-quote .quote {
	background: #eee;
	padding: 30px 40px;
	color: #444;
	font-size: 15px;
}
.random-quote .author {
	padding-left: 70px;
	padding-top: 10px;
	color: #000;
	font-size: 10px;
}	
.random-quote .caption {
	padding-left: 70px;
	padding-top: 5px;		
	color: #000;
	font-size: 8px;	
	font-family: 'pt-serif-caption';	
	font-style: italic;
}


#customer-url-validation-message {
	padding-left: 20px;
}
#customer-url-validation-message.loading {
	background: url('../images/ajax-loader.gif') no-repeat 0% 50%;
}