a.convert, button.convert, .recurly button.submit {
	font-family: ff-enzo-web,"proxima-nova",sans-serif,arial,"lucida grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
	text-align: center;
	box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.5) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.2);
	background-clip:padding-box;
	white-space: nowrap;
	text-decoration: none;
	font-weight: bold;
	margin:0;
	outline:0 none;
	cursor:default;
	border:none;
	text-shadow: 0pt -1px 0pt rgb(0, 0, 0);
	color:rgb(255, 255, 255);
	background-image:-moz-linear-gradient(center top , #66B84A, #51933A);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #66B84A),color-stop(1, #51933A));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#66b84a', EndColorStr='#51933a');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#66b84a', EndColorStr='#51933a')";
	background-color: rgb(81, 147, 58);
	border-color: rgb(34, 34, 34);
	vertical-align: middle;
	padding:0;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	font-size:15px;
	line-height: 44px;
	text-transform: uppercase;
	
}
a.convert:hover, button.convert:hover, .recurly button.submit:hover {
	color: #FFFFFF;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 7px rgba(255,255,255,0.6);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 7px rgba(255,255,255,0.6);

}
a.convert:active, button.convert:active, .recurly button.submit:active {
	-webkit-box-shadow: inset 0 3px 9px rgb(0,0,0), 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0 3px 9px rgb(0,0,0), 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: inset 0 3px 9px rgb(0,0,0), 0 1px 0 rgba(255,255,255,0.2);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	color: white;
	background: #777;
	
}

button.convert {
	outline:0 none;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
	border: 1px solid #AAA;
	background-clip: padding-box;	
	background-image:-moz-linear-gradient(center top , #66B84A, #51933A);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #66B84A),color-stop(1, #51933A));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#66b84a', EndColorStr='#51933a');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#66b84a', EndColorStr='#51933a')";
	
	-moz-background-clip:padding inside;
	-webkit-background-clip:padding-box inside;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(255,255,255,0.2);
	height:47px;

}

.convert a.convert
{
  font-family:proxima-nova;
  font-size:12px;
}

.recurly button.submit {
	height:42px;
	width:201px;
}


a.secondary, input.convert.secondary {
	background-image: -moz-linear-gradient(center top , #ddd, #aaa);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #ddd),color-stop(1, #aaa));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddd', EndColorStr='#aaa');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddd', EndColorStr='#aaa')";

	background-color:#ddd;
	color: #243342;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    
    border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    
    width: 150px;
    font-size: 13px;
	border:1px solid #ccc;

}

.style-chooser a.secondary, .style-chooser input.convert.secondary {
	width:87px;
	font-size: 10px;
}

.style-chooser a.secondary.t-shirts,.style-chooser a.secondary.shirts {
	width:131px;
}

a.convert.secondary:hover {
	color:black;
	border: 1px solid #ddd;
}

a.convert.secondary.active:hover {
	color:white;
}

a.convert.lt {
	display:block;
	float:left;
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border: 1px solid #ccc;
    border-right: 1px solid #ddd;
    
}

a.convert.rt {
	display:block;
	float:left;
	border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	border: 1px solid #ccc;
    border-left: 1px solid #ddd;
    }

a.convert.mid {
	display:block;
	float:left;
	border-radius: 0;
	-webkit-border-radius:  0;
	-moz-border-radius:  0;
	border: 1px solid #ccc;
    border-left: 1px solid #ddd;
	

}

a.convert.active {
	-webkit-box-shadow: inset 0 3px 9px rgb(0,0,0), 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0 3px 9px rgb(0,0,0), 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: inset 0 3px 9px rgb(0,0,0), 0 1px 0 rgba(255,255,255,0.2);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	color: white;
	background: #777;
	border:1px solid #888;
}

.add-to-box a.convert {
	clear: both;
	width: 100%;
	margin: 25px 0;
}

#checkoutSteps button.convert {
	width: 234px;
	font-size:15px;
	font-weight:normal;
	font-family: "proxima-nova",Arial,sans-serif;
	float:right;

}

#forgotpass button.convert {
	float:left;
	width:234px;
}
.add-to-cart button span {
	color:white;
}

.add-to-cart button {
	width:100%;
}

/* homepage */
#header-convert {
	background-clip: padding-box;
	background-image: -moz-linear-gradient(center top , #66B84A, #51933A);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #66B84A),color-stop(1, #51933A));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66b84a', EndColorStr='#51933a');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#66b84a', EndColorStr='#51933a')";
	background-color: #51933A;
	color: white;
	text-shadow: 0pt -1px 0pt black;
	width:195px;
}
.convert-button {
	width:250px;
	margin: 20px auto;
}

.convert-button a {
	width:250px;
}