/* essentials */
  * {
  margin: 0pt;
  padding: 0pt;
}

html {
  height: 100%;
}

body {
	background: #f4f4ed none repeat scroll 0% 0%;
	color: #C1C1C1;
	font: normal normal normal 0.75em/1.35 Arial, Helvetica, sans-serif;
	height: 100%;
	text-align: center;
}

img {
  border: 0pt none;
  vertical-align: top;
}

a {
  color: rgb(68, 68, 68);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 0pt none;
}

.wrapper {
  background-color: #FFF;
  position: relative;
}

.page {
  border-top:10px solid #000;
  text-align: center;
}

.main {
	margin:0;
	padding:0;
	width:auto;
}

.keep-calm-container {
  margin: 0pt auto;
  padding: 0pt 8px;
  text-align: left;
  width: 960px;
}

input, select, textarea, button {
  font: 16px "proxima-nova",Helvetica,sans-serif;
  vertical-align: middle;
  color: rgb(68, 68, 68);
}

input.input-text, select, textarea {
  border: 1px solid rgb(199,
    199, 199);
}

.product-options dt:after, #bundleProduct:after, .events-slider:after, .product-image-popup .nav:after,
.gift-item:after, .block-content:after, .block-list li.item:after, .block-poll li:after,
.currently li:after, .order-info:after, .top-cart .actions:after, .header .quick-access:after,
.product-view .box-related li.item:after, .bundle-summary .product:after, .collateral-tabs:after,
.block-cart .block-content .item:after, .clearer:after, .header-container:after,
.header-container .top-container:after, .header:after, .header-panel:after, #nav:after,
.main:after, .footer-before-container:after, .footer-container:after, .footer:after,
.col-main:after, .col2-set:after, .col3-set:after, .col4-set:after, .search-autocomplete li:after,
.block li.item:after, .block .actions:after, .mini-products-list li:after, .cms-index-index .block-featured li.item:after,
.title-buttons:after, .pager:after, .sorter:after, .ratings:after, .add-to-box:after,
.add-to-cart:after, .products-grid:after, .products-list li.item:after, .product-view:after,
.product-view .product-img-box .more-views ul:after, .product-view .box-tags .form-add-tags:after,
.product-options .options-list li:after, .options-container-small .product-options:after,
.product-options-bottom:after, .product-review:after, .box-collateral:after, .box-collateral .box-content:after,
.account-login:after, .cart .cart-collaterals:after, .cart:after, .opc .step-title:after,
.checkout-progress:after, .form-list li:after, .form-list li.fields .field:after,
.clearfix:after, .buttons-set:after, .buttons-set2:after, .page-print .print-head:after,
.new-product-spotlight .more-new .item:after, .addresses-list .col-2 li:after {
  display: block;
  content: ".";
  clear: both;
  font-size: 0pt;
  line-height: 0pt;
  height: 0pt;
  overflow: hidden;
}

.col1-layout a {
	color: #d2002b;
	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
	transition: color 200ms ease-in;
}

.col1-layout a:hover{
	color:#000;
}

.clearfix {
	float: none;
	clear: both;
}
.iescrollbarfix {
  overflow: hidden;
}

/* FLO FOOTER START 7.9.2011*/
.footer {
  background: none repeat scroll #CFCFCF;
  min-width: 980px;
}
.footer-container {
  margin: 0pt auto 0;
  position: relative;
  text-align: left;
  width: 972px;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 16px;
}

.absolute-foot {
	background-color:#595959;
	color: #cfcfcf;
}

.footer-block.footer-madein, .footer-block.footer-joinus {
	color:#aaa;
	float: left;
}

.absolute-foot .footer-block {
	margin-top: 10px;
}

.footer-block.footer-joinus {margin-left:252px;}
.footer-block.footer-joinus a {
	color:#eee;
	text-decoration: underline;
  	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
	transition: color 200ms ease-in;

}
.footer-block.footer-joinus a:hover {
	color:#d2002b;
}

#bg-footer {
  position: absolute;
  right: 0px;
  top: 50px;
  z-index: -1;
}
.footer-content, .footer-block.footer-block-left-line p {
	float: left;
	font-family: "proxima-nova";font-weight:300;
	font-size: 14px;
	color: #777;
}
.footer-content {width: 960px;}

.footer-content a {
  	color: #777;
  	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
	transition: color 200ms ease-in;
}

.footer-content #footer-links {
  float: left;
  width: 972px;
  padding-bottom: 10px;
}

#footer-links a {
	font-family: "proxima-nova";font-weight:300;
	font-size: 14px;
	color: #777;
}
#footer-links a:hover {
text-decoration:underline;
color:#d2002b;
}

#footer-links .link-column {
  float: left;
  width: 132px;
}
#footer-links .link-column h4 {
  color: #444;
  font-family: "proxima-nova";font-weight:300;
  font-weight: bold;
  padding-bottom: 10px;
}
#footer-links .link-column ul {
}
#footer-links .link-column ul li {
}

/* FLO FOOTER END*/

/* end essentials */

/* brandid.css */

/* ARUSH UX NICETIES */
* {
    &::-moz-selection { color: white;
		background: #005aff; }
    &::selection { color: white;
		background: #005aff; }
}

/* ARUSH UX NICETIES */

/* GENERAL - FOOTER */
.footer-right{width: 300px; float: right;}
.footer-cards{padding-top: 10px;}


.footer-block {
	padding: 10px;
	float:left;
}

.footer-block-right-line {
	border-right: 1px solid #aaa;
	padding:0px;
	float:left;
}

.footer-block-middle {
	margin-left: 20px;
}

.footer-block-right {
float:right;}

.footer-cms-block-title {
	padding: 7px 12px;
	margin-right: 15px;
	font-family: "proxima-nova";font-weight:600;
	color: white;
	background-color:#000000;
	font-size: 22px;
	display: block;
}


.footer-cms-block-title-caption {
	padding: 10px;
	display:block;
}

.footer-block-padder {
	padding: 20px 0;
}

.footer-all-link {
	padding: 10px;
	
}
/* GENERAL - FOOTER END */





/*.title-block {
	background: #d2002b url('../images/red-gradient-top.png') repeat-x 0% 0%;
	padding-top: 18px;
	text-align: left;
}

.title-block-inner {
 	background: url('../images/red-gradient-bottom.png') repeat-x 0% 100%; 
	min-height: 64px;
	padding-bottom: 24px;
}*/

/* new title styles */

.title-block {
	background: #000;
	padding-top: 18px;
	text-align: left;
}

.title-block-inner {
 	background: #000; 
	min-height: 64px;
	padding-bottom: 24px;
}




span.apostrophe2 {
	margin-left:-14px;
}

.quote-triangle {
 	width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #eee;

	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	margin: -11px 0 0 52px;

}


/* end brandid.css */

.keep-calm-signmeup .main {
	width:auto;
	padding:0px;
	background:#fff;
}

.share-buttons {
	float:left;
}

.share-but {
	float:left;
	width:102px;
	margin-top:16px;
}

.tweet-but {
	margin-right:30px;
}

.share-but.follow {
	width:227px;
}

.section {
	margin: 0 auto;
	width: 970px;
}

.share-header {
	padding: 12px 0;
	background: #FFF;
}
.gift-logo {
	background: url('../images/logo.png') no-repeat 0 0;
	width:181px;
	height:75px;
	float:left;
	margin-right:73px;
}

.login-signup {
	float: left;
	width: 123px;
	margin-top: 10px;
}

.login-signup-but {
	float:left;
	padding:5px;
}

.login-signup-but a {
	width:88px;
	font-family: "proxima-nova", Arial;
	font-size: 14px;
	letter-spacing: -1px;
	color: #595959;
	text-align:right;
	margin-top:16px;
}

.login-signup-but a:hover {
	color:#d2002b;
}

.login-signup-but.but-right {
	float:right;
}


.keep-calm-signmeup .title {
	margin: 80px auto;
	text-align: center;
}
.big-fuckoff .title {
	margin: 40px auto 80px;
}

/*.keep-calm-signmeup .title span {
	padding:10px 17px;
	font-family: "proxima-nova";font-weight:600;
	font-size:44px;
	background-color:#000;
	color:#fff;
	text-transform: uppercase;
	clear:both;
	letter-spacing: -1px;
}*/
.title span {
	text-align: center;
	font-size: 35px;
	font-family: "proxima-nova",helvetica;
	font-weight: bold;
	letter-spacing: -1px;
	color: white;
	line-height:40px;
	text-transform: uppercase;
}

.title-block-container .title {
	text-align: center;
}

#signmeupnow .block{
background:none;
}

#signmeupnow.chevron {
	width:250px;
}

#signmeupnow {
	left: 362px;
}

a.invisibut, a.invisibutred {
	display: block;
	height: 90px;
	width: 233px;
	margin: -20px auto 0;
	cursor: pointer;
}

.keep-calm-signmeup a.invisibut.red .chevron .block {
	background-color:#d2002b;
}

.keep-calm-signmeup .chevron {
	font-family: Gotham-book, Gotham,arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -2px;
	color: white;
	text-align: center;
	margin: 0 auto;
	-webkit-transition: background-color 200ms ease-in;
	-moz-transition: background-color 200ms ease-in;
	-o-transition: background-color 200ms ease-in;
	transition: background-color 200ms ease-in;

}

.keep-calm-signmeup .chevron {
	margin: 0 auto;
	width: 233px;
}

.keep-calm-signmeup .chevron .block {
	background:#000;
}

.keep-calm-signmeup .chevron .first-line {
	padding-top:10px;
	font-size: 11px;
	letter-spacing: 0;
	font-weight: normal;
	padding:14px 0 0 0;

}

.keep-calm-signmeup .chevron .second-line {
	font-size: 30px;
}

.signmeup-now.chevron .second-line {
	color:black;
}

.signmeup-now.chevron .first-line {
	color:black;
}

.signmeup-now.chevron .block {
	
}

.keep-calm-signmeup .title-block {
	margin-top: 120px;
}

.keep-calm-signmeup .reg-form {
	float:left;
	margin:50px 0 0 50px;
}

.keep-calm-signmeup .reg-form input {
	padding: 13px;
	float: left;
	background: none repeat scroll whiteSmoke;
	border-color: #D9D9D9;
	border-style: solid;
	border-width: 1px;
	width: 350px;
	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
	transition: color 200ms ease-in;
	-webkit-transition: border-color 200ms ease-in;
	-moz-transition: border-color 200ms ease-in;
	-o-transition: border-color 200ms ease-in;
	transition: border-color 200ms ease-in;

}

.keep-calm-signmeup .reg-form input:focus {
	-moz-box-shadow: inset 0 0 5px #888;
	-webkit-box-shadow: inset 0 0 5px #888;
	box-shadow: inner 0 0 5px #888;
	border-color: #000 ! important;
	color: #D2002B ! important;
}

.keep-calm-signmeup button {
	text-transform: uppercase;
	font-family: "proxima-nova";font-weight:600;
	font-size: 13px;
	color: white;
	background: #000;
	padding: 16px 35px;
	margin: 0 0 0 15px;
	border:none;
	
}

.title-block-container {
	margin-top: 20px;
}


.grey-tilt-holder {
	width:100%;
	overflow:hidden;

}

.grey-tilt {
	background-color:#cfcfcf;
	/*
-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
*/
	width:100%;
	margin: 0 auto;
	padding: 20px 0;
}

.grey-tilt-container {
	/*
-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
*/
	margin:0 auto;
	width: 970px;
}


.grey-tilt.right-tilt {
	/*
-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
*/
	padding:0 0 30px 0;
	height:650px;
}

.hood.section {
	/*
-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);	
*/
	padding: 50px 0;
}

.commitment .title.section {
	margin-top:115px;
}

.commitment-caption {
	font-family: "proxima-nova";font-weight:300;
	font-size: 18px;
	color: #595959;
	margin:55px auto 75px;
	width: 450px;
	text-align: center;
}

.vision-title-text {
	padding: 10px;
	background: black;
	font-family: "proxima-nova";font-weight:600;
	text-transform: uppercase;
	color: white;
	font-size: 20px;
}

.vision.section {
	margin-top:26px;
}

.vision-title {
	margin-bottom:50px;
	text-align:left;
}

.vision .box {
	background-color: white;
	width: 410px;
	height: 130px;
	padding: 30px;
	font-family: "proxima-nova";font-weight:300;
	color: #595959;
	font-size: 16px;
	float:left;
	margin: 0 30px 30px 0;
}

.what-is.box {
	margin: 0 0 30px 0;
}

.keep-calm-signmeup .vision-sub-title {
	text-transform: uppercase;
	font-family: "proxima-nova";font-weight:600;
	color:black;
	letter-spacing: -1px;
	font-size: 23px;
}

.keep-calm-signmeup .vision-sub-title .red-text {
	color:#d2002b;
}

.how.section {
	clear:both;
	margin: 50px 0 78px 0;
	float: left;
}

.how-to-box {
	background: white;
	float: left;
	width: 303px;
	margin-right: 30px;
}

.how-to-process {
	float:left;
	
}

.select-title {
	text-align: center;
	font-family: "proxima-nova";font-weight:600;
	text-transform: uppercase;
	color: white;
	margin: 37px 0;
	font-size: 19px;
}

.select-title-text {
	padding: 6px 14px;
	background-color: black;

}

.select-title.red-title .select-title-text {
	background-color:#d2002b;
	font-size:14px;
	text-transform: none;
}

.circle {
	display: block;
	width: 165px;
	height: 165px;
	-moz-border-radius: 115px;
	-webkit-border-radius: 115px;
	border: 5px #000 solid;
	margin: 40px auto;
}


.subscribe-circle {
	background-color: #d2002b;
	text-align: center;
	font-family: "proxima-nova";font-weight:900;
	text-transform: lowercase;
	color: white;
	
}

.sub-detail {
	margin-top:10px;
	font-size:14px;
}

.sub-detail.detail-1 {
	margin:31px 0 0 0;
	font-family: "proxima-nova";font-weight:300;
}
.sub-detail.detail-2 {
	font-size:29px;
	text-transform: uppercase;
}

.sub-detail.detail-3 {
	font-family: "proxima-nova";font-weight:300;
}



.keep-calm-signmeup .first-line.block.red {
	background-color:#d2002b;
	padding: 0 0 10px 0;
}
.keep-calm-signmeup .second-line.block.red {
	background-color:#d2002b;
	padding: 0 0 14px 0;
}

.chevron-group {
	margin-top: -20px;
	position:absolute;
}

.keep-calm-signmeup .quotes {
	margin:57px auto 50px;
}

.chev-group-wrap {
	width: 233px;
}

.keep-calm-signmeup span.quote {
	display: block;
	font-family: 'georgia';
	font-style: italic;
	height:79px;
	text-align: center;
}

.keep-calm-signmeup .quote-box {
	width:303px;
	float:left;
	margin-right: 30px;
}

.keep-calm-signmeup .quote {
	background: #F1F1F1;
	padding: 30px 40px;
	color: #444;
	font-size: 17px;
}

.keep-calm-signmeup .apostrophe {
	font-size: 200px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: italic;
	color: #DF778C;
	position: absolute;
	margin: -85px 0 0 -50px;
	letter-spacing: -6px;
}

.quotes .author {
	padding-top: 10px;
	padding-left:40px;
	letter-spacing: -1px;
	font-weight: 600;
	color: black;
	font-size: 20px;
	font-family: ff-enzo-web,"proxima-nova", sans-serif;
	display:block;
}

.quotes .caption-small {
	padding-top: 5px;
	padding-left:40px;
	color: #4A4A4A;
	font-size: 14px;
	font-family: 'georgia';
	font-style: italic;
	display:block;
	clear:both;
}

.how-to-box.last, .quote-box.last {
	margin-right:0;
}

.product-block {
	width:242px;
	float:left;
	text-align: center;
}

.signup-product-img {
	margin: 20px 0;
}

.product-sub-title {
	text-align: center;
}

.product-sub-title span, .hood-sub-title span {
	background-color: #000;
	text-align: center;
	font-family: "proxima-nova";font-weight:900;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
	padding:6px 13px;
	letter-spacing: -1px;
}

.price-compare .note {
	font-family: "proxima-nova";font-weight:300;
	clear:both;
}

.price-compare .comparison {
	float:left;
	clear: both;
	font-family: "proxima-nova";font-weight:600;
	text-transform: uppercase;
	color: #595959;
	font-size: 15px;
	width: 183px;
}

.price-compare .comparison.red-brandid {
	color: #d2002b;
}

.comparison .comp-left {
	float:left;
	text-align:left;
}

.comparison .comp-right {
	float:right;
}

.comp-wrap {
	margin: 20px auto;
	width: 183px;
}

.hood-element {
	float: left;
	margin: 45px 5px;
    width: 475px;
}
.hood-img {
	float:left;
	margin-right:20px;
}

.hood-sub-title {
	margin: 30px 0;
}

.hood-explanation {
	font-family: "proxima-nova";font-weight:300;
	color: #595959;
	font-size: 16px;
	margin-top: 10px;
}

.hood-sub-title span {
	font-size:20px;
}

.final.title.section {
	margin: 190px auto 80px;
}

.final.title.section span.second.red {
	background-color:#d2002b;
}

.final-share.section {
	width:808px;
	margin:80px auto;
}

.final-share .vision-title {
	text-align: center;
}



.final-share.section .box {
	font-family: "proxima-nova";font-weight:300;
	color: #595959;
	font-size: 16px;
	float: left;
	width: 808px;
	text-align: center;
	margin: 20px 0;
}

.chevron-group.final {
	margin-top: -93px;
}

.final-share.section .share-buttons {
	margin: 20px auto 80px;
	width: 354px;
	float:none;
}

.final-share.section .share-but {
	width:120px;
}

.final-share.section .share-but.gplus {
	width: 68px;
}

.final-share.section .like-but.share-but {
	width:165px;
}

.vert-chevron .select-triangle, .vert-chevron .subscribe-triangle {
	width: 0;
	height: 0;
	border-top: 80px solid transparent;
	border-bottom: 80px solid transparent;
	border-left: 40px solid white;
	position: absolute;
	margin-top: -379px;
	margin-left:272px;
	z-index: 1;
}

.vert-chevron .select-triangle.grey, .vert-chevron .subscribe-triangle.grey {
	margin-top: -379px;
	margin-left: 304px;
	border-left: 40px solid #cfcfcf;
	z-index: 0;
}

.underthehood {
	height:200px;
}

.chev-group-wrap.section.convinced {
	margin: -70px auto 0;
}

#bigtop-title {
	margin-top: 250px;
}

.signmeupnow-container {
	position:relative;
}

.gp {
	width:146px;
	
}


span.quote.left {
	padding:49px 40px 12px;
}

span.quote.right {
	padding:57px 40px 3px;
}

.reg-form .product-sub-title {
	margin: 14px 0;
	text-align: center;
}

.plans-img {
	background: url('../images/lightbox/beta/plans-preview.png');
	height:415px;
	width:930px;
	margin: 0 0 0 20px;
	float:left;
}

.boosters-img {
	background: url('../images/lightbox/beta/boosters.png');
	width: 238px;
	height: 410px;
	float:left;
	margin: 0 40px 50px 40px;
}

.boosters-img.first {
	margin: 0 40px 50px 40px;

}

.boosters-img.second{
	margin: 0 40px 50px 40px;
	background-position: 241px 0;

}

.boosters-img.third {
	margin: 0 40px 50px 40px;
	background-position: 499px 0;
}


.what.box {
	width: 910px;
	height: 42px;
}

.what.box.boosters {
	height:60px;
}

.gift-landing {
	margin:50px 0;
}

.gift-blurb span.blurb-text {
	font-size:16px;
	color:#595959;
	font-family:"proxima-nova", sans-serif;
	text-align: left;
}

.gift-blurb {
	float:left;
	margin: 0;
    text-align: left;
    width: 40%;

}

.super-convert {
	margin:40px 0 0 0;
}

.gift-image {
	margin: 0;
	float:right;
	width:60%;
}

.gift-image img {
	max-width:100%;
	margin-top:-50px;
}

.learn-more.chevron.down .chevron-triangle {
	border-color: white transparent transparent;
    border-style: solid;
    border-width: 50px 150px;
    height: 0;
    margin-left:-35px;
    margin-top: 0;
    position: absolute;
    width: 0;
    z-index: 1;
}

.learn-more.chevron.down .first-line.block {
	color: #595959;
    font-size: 10px;
    margin: 0 0 0 82px;
    position: absolute;
    text-align: center;
    z-index: 2;
}

.keep-calm-signmeup-container a.invisibut {
	margin: 0 auto;
    position: absolute;
}

a.convert, button.convert {
	font-family: ff-enzo-web,arial,sans-serif;
	text-align: center;
	box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.5) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.2);
	background-clip:padding-box;
	white-space: nowrap;
	text-decoration: none;
	font-weight: bold;
	margin:0;
	outline:0 none;
	cursor:default;
	border:none;
	text-shadow: 0pt -1px 0pt rgb(0, 0, 0);
	color:rgb(255, 255, 255);
	background-image:-moz-linear-gradient(center top , #66B84A, #51933A);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #66B84A),color-stop(1, #51933A));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#66b84a', EndColorStr='#51933a');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#66b84a', EndColorStr='#51933a')";
	
	background-color: rgb(81, 147, 58);
	border-color: rgb(34, 34, 34);
	vertical-align: middle;
	padding:0;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	font-size:20px;
	width:100%;
	line-height: 54px;
	text-transform: uppercase;
	
}
a.convert:hover, button.convert:hover{
	color: #FFFFFF;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 7px rgba(255,255,255,0.6);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 7px rgba(255,255,255,0.6);

}
a.convert:active, button.convert:active {
	-webkit-box-shadow: inset 0 3px 9px rgb(0,0,0), 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0 3px 9px rgb(0,0,0), 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: inset 0 3px 9px rgb(0,0,0), 0 1px 0 rgba(255,255,255,0.2);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	color: white;
	background: #777;
	
}

h1.gift-blurb-title {
	font-family: "proxima-nova",Arial;
	font-size: 30px;
	color: black;
	letter-spacing: -1px;
	margin-bottom: 12px;
}