/* essentials */
* {
  margin: 0pt;
  padding: 0pt;
}

html {
  height: 100%;
}

body {
	background: #FFF none repeat scroll 0% 0%;
	color: #C1C1C1;
	font: normal normal normal 0.75em/1.35 Arial, Helvetica, sans-serif;
	height: 100%;
	text-align: center;
}

img {
  border: 0pt none;
  vertical-align: top;
}

a {
  color: rgb(68, 68, 68);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 0pt none;
}

.wrapper {
  position: relative;
}

.page {
  text-align: center;
}


.main {
  margin: 0pt auto;
  padding: 0pt 8px;
  text-align: left;
  width: 960px;
}

input, select, textarea, button {
  font: 16px "proxima-nova",Helvetica,sans-serif;
  vertical-align: middle;
  color: rgb(68, 68, 68);
}

input.input-text, select, textarea {
  border: 1px solid rgb(199,
    199, 199);
}

.product-options dt:after, #bundleProduct:after, .events-slider:after, .product-image-popup .nav:after,
.gift-item:after, .block-content:after, .block-list li.item:after, .block-poll li:after,
.currently li:after, .order-info:after, .top-cart .actions:after, .header .quick-access:after,
.product-view .box-related li.item:after, .bundle-summary .product:after, .collateral-tabs:after,
.block-cart .block-content .item:after, .clearer:after, .header-container:after,
.header-container .top-container:after, .header:after, .header-panel:after, #nav:after,
.main:after, .footer-before-container:after, .footer-container:after, .footer:after,
.col-main:after, .col2-set:after, .col3-set:after, .col4-set:after, .search-autocomplete li:after,
.block li.item:after, .block .actions:after, .mini-products-list li:after, .cms-index-index .block-featured li.item:after,
.title-buttons:after, .pager:after, .sorter:after, .ratings:after, .add-to-box:after,
.add-to-cart:after, .products-grid:after, .products-list li.item:after, .product-view:after,
.product-view .product-img-box .more-views ul:after, .product-view .box-tags .form-add-tags:after,
.product-options .options-list li:after, .options-container-small .product-options:after,
.product-options-bottom:after, .product-review:after, .box-collateral:after, .box-collateral .box-content:after,
.account-login:after, .cart .cart-collaterals:after, .cart:after, .opc .step-title:after,
.checkout-progress:after, .form-list li:after, .form-list li.fields .field:after,
.clearfix:after, .buttons-set:after, .buttons-set2:after, .page-print .print-head:after,
.new-product-spotlight .more-new .item:after, .addresses-list .col-2 li:after {
  display: block;
  content: ".";
  clear: both;
  font-size: 0pt;
  line-height: 0pt;
  height: 0pt;
  overflow: hidden;
}

.col1-layout a {
	color: #d2002b;
	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
	transition: color 200ms ease-in;
}

.col1-layout a:hover{
	color:#000;
}

.clearfix {
	float: none;
	clear: both;
}
.iescrollbarfix {
  overflow: hidden;
}

/* FLO FOOTER START 7.9.2011*/
.footer {
  background: none repeat scroll #CFCFCF;
  min-width: 980px;
}
.footer-container {
  margin: 0pt auto 0;
  position: relative;
  text-align: left;
  width: 972px;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 16px;
}

.absolute-foot {
	background-color:#595959;
	color: #cfcfcf;
}

.footer-block.footer-madein, .footer-block.footer-joinus {
	color:#aaa;
	float: left;
}

.absolute-foot .footer-block {
	margin-top: 10px;
}

.footer-block.footer-joinus {margin-left:252px;}
.footer-block.footer-joinus a {
	color:#eee;
	text-decoration: underline;
  	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
	transition: color 200ms ease-in;

}
.footer-block.footer-joinus a:hover {
	color:#d2002b;
}

#bg-footer {
  position: absolute;
  right: 0px;
  top: 50px;
  z-index: -1;
}
.footer-content, .footer-block.footer-block-left-line p {
	float: left;
	font-family: "proxima-nova";font-weight:300;
	font-size: 14px;
	color: #777;
}
.footer-content {width: 960px;}

.footer-content a {
  	color: #777;
  	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
	transition: color 200ms ease-in;
}

.footer-content #footer-links {
  float: left;
  width: 972px;
  padding-bottom: 10px;
}

#footer-links a {
	font-family: "proxima-nova";font-weight:300;
	font-size: 14px;
	color: #777;
}
#footer-links a:hover {
text-decoration:underline;
color:#d2002b;
}

#footer-links .link-column {
  float: left;
  width: 132px;
}
#footer-links .link-column h4 {
  color: #444;
  font-family: "proxima-nova";font-weight:300;
  font-weight: bold;
  padding-bottom: 10px;
}
#footer-links .link-column ul {
}
#footer-links .link-column ul li {
}

/* FLO FOOTER END*/

/* end essentials */

/* brandid.css */

/* ARUSH UX NICETIES */
::selection {
		color: white;
		background: #005aff;
        }
::-moz-selection {
        color: white;
		background: #005aff;
}

/* ARUSH UX NICETIES */

/* GENERAL - FOOTER */
.footer-right{width: 300px; float: right;}
.footer-cards{padding-top: 10px;}


.footer-block {
	padding: 10px;
	float:left;
}

.footer-block-right-line {
	border-right: 1px solid #aaa;
	padding:0px;
	float:left;
}

.footer-block-middle {
	margin-left: 20px;
}

.footer-block-right {
float:right;}

.footer-cms-block-title {
	padding: 7px 12px;
	margin-right: 15px;
	font-family: "proxima-nova", sans-serif;
	font-weight:600;
	color: white;
	background-color:#000000;
	font-size: 22px;
	display: block;
}


.footer-cms-block-title-caption {
	padding: 10px;
	display:block;
}

.footer-block-padder {
	padding: 20px 0;
}

.footer-all-link {
	padding: 10px;
	
}
/* GENERAL - FOOTER END */





.title-block {
	background: #d2002b url('../images/red-gradient-top.png') repeat-x 0% 0%;
	padding-top: 18px;
	text-align: left;
}

.title-block-inner {
 	background: url('../images/red-gradient-bottom.png') repeat-x 0% 100%; 
	min-height: 64px;
	padding-bottom: 24px;
}

span.apostrophe2 {
	margin-left:-14px;
}

.quote-triangle {
 	width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #eee;

	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	margin: -11px 0 0 52px;

}


/* end brandid.css */

.keep-calm-signmeup .main {
	width:auto;
	padding:0px;
	background:#fff;
}

.share-buttons {
	float:left;
	margin:0 0 0 245px;
}

.share-but {
	float:left;
	width:102px;
	margin-top:16px;
}

.tweet-but {
	margin-right:30px;
}

.share-but.follow {
	width:227px;
}

.section {
	margin: 0 auto;
	width: 970px;
}

.share-header {
	background: none;
	position:fixed;
	border-top: 10px solid black;
	top: 0;
	width:100%;
	z-index: 50;
	padding: 10px 10px 0 10px;
	-webkit-box-shadow: #666 0px 3px 10px;
	-moz-box-shadow: #666 0px 3px 10px;
	box-shadow: #666 0px 3px 10px;
	behavior: url('PIE.htc');
	height: 71px;
}

a.header-button{
	display: block;
	height: 60px;
	border: 0px;
	margin: -7px 0 0 40px;
	padding-top: 20px;
	font-family: ff-enzo-web,"proxima-nova",sans-serif,arial;
	text-transform: uppercase;
	color: black;
	font-size: 15px;
	font-weight: 900;
	line-height: normal;
	text-align: right;
	background: transparent;
	float:right;
}



.header-button span.button-copy {
	font-family: ff-enzo-web,"proxima-nova";font-weight:300;
	text-transform: uppercase;
	color: black;
	font-size: 15px;
	font-weight: 900;
	line-height: normal;
	text-align: right;

}

.header-button span.button-copy:hover {
	color:#d2002b;
}

.ghost-header {
	height:105px;
	width:100%;
	background:#FFF;
}

a.logo-button {
display: block;
width: 181px;
height: 75px;
position: fixed;
}

/* copy my account from brandid.css */

.top-name {
	display:block;
	float:right;}

.account-link {
	text-align: right;
	width: 120px;
	padding-left: 10px;
	margin-top: -3px;
	float:right;
	height:35px;
	margin-right: 9px;
	
}

.account-link a.header-link {
	padding-right: 56px;
	padding-bottom: 45px;
	height: auto;
	margin: -7px 0 0 0;
	display: block;
	border: 0px;
	border-top: solid 10px black;
	margin-top: -17px;
	padding-top: 20px;
	font-family: ff-enzo-web,"proxima-nova";font-weight:300;
	text-transform: uppercase;
	color: black;
	font-size: 15px;
	font-weight: 900;
	line-height: normal;
	text-align: right;
	background: transparent;
	width: 120px;
	text-decoration: none;
}


a.flname {
	margin: -45px 0 0 0;
	padding: 7px 7px 0 0;
	display: block;
	float: right;
	color: #595959;
	font-family: "proxima-nova";font-weight:300;
	font-weight: normal;
	font-size: 12px;
	text-transform: none;
	text-decoration: none;
	text-align: right;

}

.my-account-links {
	position: absolute;
	background: black;
	top: 75px;
	right: 0px;
	padding: 5px;
	display: none;
	z-index: 1001;
	border: 10px solid black;
	text-align: right;
}

/* end copied my account from brandid.css */

.tie-icon {
	background: url('../images/tie-icon.png');
	width:143px;
	height:54px;
	float:left;
	margin-right:96px;
}

.login-signup {
	float: left;
	width: 123px;
	margin-top: 10px;
}

.login-signup-but {
	float:left;
	padding:5px;
}

.login-signup-but a {
	width:88px;
	font-family: "proxima-nova";font-weight:300;
	font-size: 16px;
	letter-spacing: -1px;
	color: #cfcfcf;
	text-transform: uppercase;
	text-align:right;
	margin-top:16px;
}

.login-signup-but a:hover {
	color:#d2002b;
}

.login-signup-but.but-right {
	float:right;
}

.big-fuckoff .logo {
	background: url('../images/brandid-huge-beta.png');
	width:441px;
	height:140px;
	margin-top: 40px;

}
.keep-calm-signmeup .title {
	margin: 80px auto;
	text-align: center;
}

.big-fuckoff .title {
	margin: 40px auto 80px;
}

.keep-calm-signmeup .title span,
.keep-calm-wearepros .title span {
	padding:10px 17px;
	font-family: "proxima-nova";font-weight:900;
	font-size:44px;
	background-color:#000;
	color:#fff;
	text-transform: uppercase;
	clear:both;
	letter-spacing: -1px;
}

#signmeupnow .block{
background:none;
}

#signmeupnow.chevron {
	width:250px;
}

#signmeupnow {
	left: 362px;
}

a.invisibut, a.invisibutred {
	display: block;
	height: 90px;
	width: 233px;
	margin: 0 auto;
	cursor: pointer;
}

.keep-calm-signmeup a.invisibut.red .chevron .block {
	background-color:#d2002b;
}


.keep-calm-signmeup .chevron {
	font-family: Gotham-book, Gotham,arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -2px;
	color: white;
	text-align: center;
	margin: 0 auto;
	-webkit-transition: background-color 200ms ease-in;
	-moz-transition: background-color 200ms ease-in;
	-o-transition: background-color 200ms ease-in;
	transition: background-color 200ms ease-in;

}

.keep-calm-signmeup .chevron {
	margin: 0 auto;
	width: 233px;
}

.keep-calm-signmeup .chevron .block {
	background:#000;
}

.keep-calm-signmeup .chevron .first-line {
	padding-top:10px;
	font-size: 11px;
	letter-spacing: 0;
	font-weight: normal;
	padding:14px 0 0 0;

}

.keep-calm-signmeup .chevron .second-line {
	font-size: 30px;
}

.signmeup-now.chevron .second-line {
	color:black;
}

.signmeup-now.chevron .first-line {
	color:black;
}

.signmeup-now.chevron .block {
	
}

.keep-calm-signmeup .title-block {
	margin-top: -10px;
}

.keep-calm-signmeup .reg-form {
	float:left;
	margin:0;
}

.keep-calm-signmeup .reg-form input {
	padding: 13px;
	float: left;
	background: none repeat scroll whiteSmoke;
	border-color: #D9D9D9;
	border-style: solid;
	border-width: 1px;
	width: 350px;
	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
	transition: color 200ms ease-in;
	-webkit-transition: border-color 200ms ease-in;
	-moz-transition: border-color 200ms ease-in;
	-o-transition: border-color 200ms ease-in;
	transition: border-color 200ms ease-in;

}

.keep-calm-signmeup .reg-form input:focus {
	-moz-box-shadow: inset 0 0 5px #888;
	-webkit-box-shadow: inset 0 0 5px #888;
	box-shadow: inner 0 0 5px #888;
	border-color: #000 ! important;
	color: #D2002B ! important;
}

.keep-calm-signmeup button {
	text-transform: uppercase;
	font-family: "proxima-nova";font-weight:300;
	font-size: 13px;
	color: white;
	background: #000;
	padding: 16px 35px;
	margin: 0 0 0 15px;
	border:none;
	
}

.title-block-container {
	margin-top: 20px;
}

#oa_social_login_container {
	float:right;
	margin-right:50px;
	height: 153px;
	overflow: hidden;
	margin-bottom: 20px;
}

#oa_social_login_header_convert {
	float:right;
	overflow: hidden;
	width:279px;
	
}


.grey-tilt-holder {
	width:100%;
	overflow:hidden;

}

.grey-tilt {
	background-color:#cfcfcf;
	
	width:100%;
	margin: 0 auto;
	padding: 20px 0;
}

.grey-tilt-container {
	
	margin:0 auto;
	width: 970px;
}


.grey-tilt.right-tilt {
	
	padding:0 0 30px 0;
	height:650px;
}

.hood.section {
	
	padding: 50px 0;
}

.commitment .title.section {
	margin-top:115px;
}

.commitment-caption {
	font-family: "proxima-nova";font-weight:300;
	font-size: 18px;
	color: #595959;
	margin:60px auto;
	width: 450px;
	text-align: center;
}
.upper-box .commitment-caption {
	margin:0px auto;
}
.upper-box .commitment-caption .caption {
	font-size:16px;
}
.commitment-caption .caption-strong {
	font-family: "proxima-nova";
	font-weight:900;
	font-size:26px;
}

.commitment-caption .caption-small {
	font-size: 12px;
}

.green-box .commitment-caption {
	float: left;
	margin: 25px 10px;
	height: 60px;
	width:59%;
	line-height: 60px;
}
.green-box .commitment-caption .caption{
	font-weight: bold;
	color: #2B4B0E;
	letter-spacing: -1px;
	font-size:16px;

}
.green-box .convert-main {
	float:right;
	margin:25px 10px;
}

.vision-title-text {
	padding: 10px;
	background: black;
	font-family: "proxima-nova";font-weight:600;
	text-transform: uppercase;
	color: white;
	font-size: 20px;
}

.vision.section {
	margin-top:26px;
}

.vision-title {
	margin-bottom:20px;
}

.vision .box {
	background-color: white;
	width: 410px;
	height: 130px;
	padding: 30px;
	font-family: "proxima-nova";font-weight:300;
	color: #595959;
	font-size: 16px;
	float:left;
	margin: 0 30px 30px 0;
}

.what-is.box {
	margin: 0 0 30px 0;
}

.keep-calm-signmeup .vision-sub-title, .keep-calm-wearepros .vision-sub-title {
	text-transform: uppercase;
	font-family: "proxima-nova";font-weight:900;
	color:black;
	letter-spacing: -1px;
	font-size: 23px;
}

.keep-calm-signmeup .vision-sub-title .red-text, .keep-calm-wearepros .vision-sub-title .red-text {
	color:#d2002b;
}

.how.section {
	clear:both;
	margin: 0 0 78px 0;
	float: left;
}

.how-to-box {
	background: white;
	float: left;
	width: 303px;
	margin-right: 30px;
}

.how-to-process {
	float:left;
	
}

.select-title {
	text-align: center;
	font-family: "proxima-nova";font-weight:900;
	text-transform: uppercase;
	color: white;
	margin: 37px 0;
	font-size: 19px;
}

.select-title-text {
	padding: 6px 14px;
	background-color: black;

}

.select-title.red-title .select-title-text {
	background-color:#d2002b;
	font-size:14px;
	text-transform: none;
}

.circle {
	display: block;
	width: 165px;
	height: 165px;
	-moz-border-radius: 115px;
	-webkit-border-radius: 115px;
	border: 5px #000 solid;
	margin: 40px auto;
}

.subscribe-circle {
	background-color: #333;
	text-align: center;
	font-family: "proxima-nova";font-weight:900;
	text-transform: lowercase;
	color: white;
	
}

.sub-detail {
	margin-top:10px;
	font-size:14px;
}

.sub-detail.detail-1 {
	margin:31px 0 0 0;
	font-family: "proxima-nova";font-weight:300;
}
.sub-detail.detail-2 {
	font-size:29px;
	text-transform: uppercase;
}

.sub-detail.detail-3 {
	font-family: "proxima-nova";font-weight:300;
}

.keep-calm-signmeup .first-line.block.red {
	background-color:#d2002b;
	padding: 0 0 10px 0;
}
.keep-calm-signmeup .second-line.block.red {
	background-color:#d2002b;
	padding: 0 0 14px 0;
}

.chevron-group {
	margin-top: -20px;
	position:absolute;
}

.keep-calm-signmeup .quotes {
	margin:57px auto 50px;
}

.chev-group-wrap {
	width: 233px;
}

.keep-calm-signmeup span.quote {
	display: block;
	font-family: 'georgia';
	font-style: italic;
	height:79px;
	text-align: center;
}

.keep-calm-signmeup .quote-box {
	width:303px;
	float:left;
	margin-right: 30px;
}

.keep-calm-signmeup .quote {
	background: #F1F1F1;
	padding: 30px 40px;
	color: #444;
	font-size: 17px;
}

.keep-calm-signmeup .apostrophe {
	font-size: 200px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: italic;
	color: #DF778C;
	position: absolute;
	margin: -85px 0 0 -50px;
	letter-spacing: -6px;
}

.quotes .author {
	padding-top: 10px;
	padding-left:40px;
	letter-spacing: -1px;
	font-weight: 600;
	color: black;
	font-size: 20px;
	font-family: ff-enzo-web,"proxima-nova",sans-serif, sans-serif;
	display:block;
}

.quotes .caption-small {
	padding-top: 5px;
	padding-left:40px;
	color: #4A4A4A;
	font-size: 14px;
	font-family: 'georgia';
	font-style: italic;
	display:block;
	clear:both;
}

.how-to-box.last, .quote-box.last {
	margin-right:0;
}

.product-block {
	width:242px;
	float:left;
	text-align: center;
}

.signup-product-img {
	margin: 20px 0;
}

.product-sub-title {
	text-align: center;
}

.product-sub-title span, .hood-sub-title span {
	background-color: #000;
	text-align: center;
	font-family: "proxima-nova";font-weight:900;
	text-transform: uppercase;
	color: white;
	font-size: 15px;
	padding:6px;
}

.price-compare .note {
	font-family: "proxima-nova";font-weight:300;
	clear:both;
}

.price-compare .comparison {
	float:left;
	clear: both;
	font-family: "proxima-nova";font-weight:300;
	text-transform: uppercase;
	color: #595959;
	font-size: 15px;
	width: 183px;
}

.price-compare .comparison.red-brandid {
	color: #d2002b;
}

.comparison .comp-left {
	float:left;
	text-align:left;
}

.comparison .comp-right {
	float:right;
}

.comp-wrap {
	margin: 20px auto;
	width: 183px;
}

.hood-element {
	float: left;
	margin: 45px 5px;
    width: 475px;
}
.hood-img {
	float:left;
	margin-right:20px;
}

.hood-sub-title {
	margin: 30px 0;
}

.hood-explanation {
	font-family: "proxima-nova";font-weight:300;
	color: #595959;
	font-size: 16px;
	margin-top: 10px;
}

.hood-sub-title span {
	font-size:20px;
}

.final.title.section {
	margin: 190px auto 80px;
}

.final.title.section span.second.red {
	background-color:#d2002b;
}

.final-share.section {
	width:408px;
}

.final-share .vision-title {
	text-align: center;
}



.final-share.section .box {
	font-family: "proxima-nova";font-weight:300;
	color: #595959;
	font-size: 16px;
	float: left;
	width: 408px;
	text-align: center;
	margin: 40px 0;
}

.chevron-group.final {
	margin-top: -93px;
}

.final-share.section .share-buttons {
	margin: 20px auto 80px;
	width: 354px;
	float:none;
}

.final-share.section .share-but {
	width:120px;
}

.final-share.section .share-but.gplus {
	width: 68px;
}

.final-share.section .like-but.share-but {
	width:165px;
}

.vert-chevron .select-triangle, .vert-chevron .subscribe-triangle {
	width: 0;
	height: 0;
	border-top: 80px solid transparent;
	border-bottom: 80px solid transparent;
	border-left: 40px solid white;
	position: absolute;
	margin-top: -379px;
	margin-left:272px;
	z-index: 1;
}

.vert-chevron .select-triangle.grey, .vert-chevron .subscribe-triangle.grey {
	margin-top: -379px;
	margin-left: 304px;
	border-left: 40px solid #cfcfcf;
	z-index: 0;
}

.underthehood {
	height:200px;
}

.chev-group-wrap.section.convinced {
	margin: -70px auto 0;
}

.signmeupnow-container {
	position:relative;
}

.gp {
	width:146px;
	
}


span.quote.left {
	padding:49px 40px 12px;
}

span.quote.right {
	padding:57px 40px 3px;
}

.reg-form .product-sub-title {
	margin: 14px 0;
	text-align: left;
}

.plans-img {
	background: url('../images/lightbox/beta/plans-preview.png');
	height:415px;
	width:930px;
	margin: 0 0 0 20px;
	float:left;
}

.boosters-img {
	background: url('../images/lightbox/beta/boosters.png');
	width: 238px;
	height: 410px;
	float:left;
	margin: 0 40px 50px 40px;
}

.boosters-img.first {
	margin: 0 40px 50px 40px;

}

.boosters-img.second{
	margin: 0 40px 50px 40px;
	background-position: 241px 0;

}

.boosters-img.third {
	margin: 0 40px 50px 40px;
	background-position: 499px 0;
}


.what.box {
	width: 910px;
	height: 42px;
}

.what.box.boosters {
	height:60px;
}

.subscribe-circle.circle.gift {
	width:125px;
	height:125px;
	margin:0;
}

a.gift.invisibut {
	position:absolute;
	margin:-280px 0 0 0;
	width:137px;
	height:137px;
	
	-webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.2s ease-out;  /* FF4+ */
      -ms-transition: all 0.2s ease-out;  /* IE10 */
       -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
          transition: all 0.2s ease-out;
    
    -webkit-transform: rotate(180deg);  
     -moz-transform: rotate(180deg);   
      -ms-transform: rotate(180deg);   
       -o-transform: rotate(180deg); 
          transform: rotate(180deg);
}

a.gift.invisibut:hover {
	margin:-217px 0 0 0;
	-webkit-transform: rotate(0deg);  
     -moz-transform: rotate(0deg);   
      -ms-transform: rotate(0deg);   
       -o-transform: rotate(0deg); 
          transform: rotate(0deg);

}

.subscribe-circle.circle.gift .sub-detail.detail-1 {
	margin-top: 25px;
	-webkit-transform: rotate(180deg);  
     -moz-transform: rotate(180deg);   
      -ms-transform: rotate(180deg);   
       -o-transform: rotate(180deg); 
          transform: rotate(180deg);
}

.subscribe-circle.circle.gift .sub-detail.detail-2, .subscribe-circle.circle.gift .sub-detail.detail-3 {
	margin: 0;
}

.subscribe-circle.circle.gift .sub-detail.detail-2 {
	font-size:36px;
}
.subscribe-circle.circle.gift .sub-detail.detail-3 {
	margin-top:-4px;
	 
}
.gift-logo {
	background: url('../images/logo.png') no-repeat 0 0;
	width:181px;
	height:75px;
	float:left;
	margin-right:73px;
}

.up-down-controller {
	position:absolute;
	margin:74px 0 0 840px;
	
}

.up-down-controller a.controller {
	width:50px;
	height:50px;
	margin:10px;
	float:left;
	opacity:0.5;
	cursor: pointer;
}

.up-down-controller a.controller:hover {
	opacity:0.8;
}

.signmeupnow-container.section {
}

.convert {
	float:right;
	height: 44px;
	margin: 0 4px 0 23px;

}

a.convert, button.convert {
	font-family: ff-enzo-web,"proxima-nova",sans-serif,arial,"lucida grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
	text-align: center;
	box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.5) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.2);
	background-clip:padding-box;
	white-space: nowrap;
	text-decoration: none;
	font-weight: bold;
	margin:0;
	outline:0 none;
	cursor:default;
	border:none;
	text-shadow: 0pt -1px 0pt rgb(0, 0, 0);
	color:rgb(255, 255, 255);
	background-image:-moz-linear-gradient(center top , #66B84A, #51933A);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #66B84A),color-stop(1, #51933A));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#66b84a', EndColorStr='#51933a');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#66b84a', EndColorStr='#51933a')";
	
	background-color: rgb(81, 147, 58);
	border-color: rgb(34, 34, 34);
	vertical-align: middle;
	padding:0;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	font-size:15px;
	width:157px;
	line-height: 44px;
	text-transform: uppercase;
	
}
a.convert:hover, button.convert:hover{
	color: #FFFFFF;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 7px rgba(255,255,255,0.6);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 7px rgba(255,255,255,0.6);

}
a.convert:active, button.convert:active {
	-webkit-box-shadow: inset 0 3px 9px rgb(0,0,0), 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0 3px 9px rgb(0,0,0), 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: inset 0 3px 9px rgb(0,0,0), 0 1px 0 rgba(255,255,255,0.2);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	color: white;
	background: #777;
	
}

button.convert {
	outline:0 none;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
	border: 1px solid #AAA;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-clip: padding-box;	
	background-image:-moz-linear-gradient(center top , #66B84A, #51933A);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #66B84A),color-stop(1, #51933A));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#66b84a', EndColorStr='#51933a');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#66b84a', EndColorStr='#51933a')";
	
	-moz-background-clip:padding inside;
	-webkit-background-clip:padding-box inside;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(255,255,255,0.2);
	color:#243342;
	background-color:#DDDDDD;
	background-image:-moz-linear-gradient(top, #EEE, #CCC);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #EEE),color-stop(1, #CCC));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc')";
	
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(255,255,255,0.2);
	height:47px;

}

button.convert:hover {
	color:#243342;
}

.reg-form button.convert {
	width:198px;
}

.action-section {
	margin:20px 0 30px 0;
}



#big-body-convert {
	height: 60px;
	width: 195px;
	line-height: 60px;
	font-size: 16px;
}

.coupon-card {
	background-color:#f6f5f4;
	border:1px solid #e2e0e0;
	-webkit-border-radius: 12px;
    border-radius: 12px; 
  	-moz-background-clip: padding;
  	-webkit-background-clip:
  	padding-box;
  	background-clip: padding-box;
  	background-image: url(../images/specialoffer/bigdeal.png);
  	background-repeat: no-repeat;
  	margin: 0 auto;
	width: 60%;
}
.coupon-card .upper-box {
	margin:20px auto;

}

.coupon-card .green-box {
	background-color: #E6F2DF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.convert-main.clearfix {
	width: 300px;
	margin: 0 auto;
	font-size: 68px;
}

.action-section a.convert {
	line-height: 100px;
	font-size: 18px;
	height: 100px;
	width:300px;
	float:left;
}

.action-section 

.keep-calm-signmeup .title-block.first, .keep-calm-wearepros .title-block.first {
	margin-top: -21px;
	overflow:hidden;
}

.keep-calm-signmeup .title-block.first .title {
	margin: 30px auto;
}

oa_social_login_convert {
	width:400px;
}

.trans-back {
	position: absolute;
	width: 100%;
	background: white;
	opacity: .89;
	height: 100%;
	z-index: -1;
	margin: -10px;
	opacity:.93;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=93)";

  filter: alpha(opacity=93);
  -moz-opacity: 0.93;
  -khtml-opacity: 0.93;
}

.reg-form .commitment-caption.section {
	width: 580px;
}

.commitment-caption.reg.section {
	margin:0px auto;
	width:580px;
}

.keep-calm-signmeup .title-block.first {
	overflow: hidden;
}

#header-convert {
	background-clip: padding-box;
	background-image: -moz-linear-gradient(center top , #66B84A, #51933A);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #66B84A),color-stop(1, #51933A));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66b84a', EndColorStr='#51933a');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#66b84a', EndColorStr='#51933a')";
	background-color: #51933A;
	color: white;
	text-shadow: 0pt -1px 0pt black;
}
#social_link_container.loading, #oa_social_login_container.loading, #oa_social_login_header_convert.loading {
	background: url('../images/loader.gif') no-repeat 50% 50% #fff;

}

/* we are pros */

.keep-calm-wearepros .grey-tilt {
	margin-top:25px;
}
.keep-calm-wearepros .title {
	text-align:center;
	margin:20px auto;
}

.keep-calm-wearepros .vision.box {
	width:100%;
}

.keep-calm-wearepros .grey-tilt-holder.vision-block {
	background-color:#CFCFCF;
}

.keep-calm-wearepros .vision .box {
	height:auto;
	width:auto;
	margin:20px 0;
	min-height:136px;
}

.keep-calm-wearepros .commitment-caption {
	margin: 30px auto;
	width: auto;
}

.keep-calm-wearepros #fb-root {
	display:none;
} 
.keep-calm-wearepros .vision-title-text {
	letter-spacing: -1px;
}

.caption.jobtitle {
	text-transform: uppercase;
	font-weight:bold;
	letter-spacing: -1px;
	font-size: 14px;
	color: black;
}

.teampic {
	margin:0 auto 10px;
	width: 150px;
	height: 150px;
}

.backpic-square {
	height:150px;
	width:150px;
	overflow:hidden;
	position:absolute;
	z-index:1;
}

.backpic-square.hire {
	font-size: 48px;
	font-weight: bold;
	line-height: 100[x;
	line-height: 156px;
	background-color: #D2002B;
	color: white;
}

.picframe {
	height:150px;
	width:150px;
	position:absolute;
	z-index:10;
}

.jobtitle-container {
	text-align:left;
}

nav select {
	float:right;
	margin:15px 10px;
	width:25%;
  display: none;
}

span.login a {color:#d2002b;text-decoration:underline;}

@media only screen and (max-width: 959px) {
	#wide-nav {display:none;}
	nav select { display: inline-block; }
}
@media only screen and (max-width: 767px) {
	.keep-calm-wearepros .title span {
		font-size:29px;
	}
}


