body {background-color:#333;}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap, .jqconsole-header span { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

/* console */
#console {
      position: absolute;
      /* width: 400px; */
      height: 500px;
      background-color:#FFF;
      font-size:16px;
      font-family:courier,sans-serif;
      text-align:left;
      margin-top:25px;
      width:100%;
	  -webkit-border-radius: 5px; 
      border-radius: 5px; 
  	  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  	  max-height:300px;
    }
    /* The inner console element. */
    .jqconsole {
        padding: 10px;
        box-shadow:0px 0px 20px 10px rgba(0,0,0,0.7);
        max-height: 300px;
		overflow-y: scroll;
		-webkit-box-shadow:0px 0px 20px 10px rgba(0,0,0,0.7);
		-moz-box-shadow:0px 0px 20px 10px rgba(0,0,0,0.7);
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;
    }
    /* The cursor. */
    .jqconsole-cursor {
        background-color: #CFCFCF;
        -webkit-animation:cursor 0.3s 9999 ease-in-out;
		-moz-animation:cursor 0.3s 9999 ease-in-out;
		animation:cursor 0.3s 9999 ease-in-out;
		animation-iteration-count:infinite;
    }
	@-webkit-keyframes cursor {
		0% { background-color:#CFCFCF; }
		50% { background-color:#444; }
		100% { background-color:#CFCFCF; }
	}

	@-moz-keyframes cursor {
		0% { background-color:#CFCFCF; }
		50% { background-color:#444; }
		100% { background-color:#CFCFCF; }
	}
    .jqconsole-header {
    	color:white;
    }
    /* The cursor color when the console looses focus. */
    .jqconsole-blurred .jqconsole-cursor {
        background-color: #666;
    }
    /* The current prompt text color */
    .jqconsole-prompt {
        color: #257801;
        padding:20px;
        background-color: white;
        display:block;
    }
    /* The command history */
    .jqconsole-old-prompt {
        color: #ccc;
        font-weight: normal;
		padding: 20px;
		display: block;
    }
    /* The text color when in input mode. */
    .jqconsole-input {
        color: #ccc;
    }
    /* Previously entered input. */
    .jqconsole-old-input {
        color: #ccc;
        font-weight: normal;
    }
    /* The text color of the output. */
    .jqconsole-output {
        color: #444;
    }
/* end console */

/* custom skinning */
.jqconsole-header span {
	background-color:#e9e9e9;
	color:#e9e9e9;
	padding:20px;
	display:block;
}
.jqconsole-output span {
	padding: 20px;
	color: #e9e9e9;
	background-color: #E9E9E9;
	display: block;
}
.jqconsole-blurred {
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=7);
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
    background-color:#CFCFCF;
}

.jqconsole-blurred span {
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
   	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
	color:#aaa !important;
	background-color:#cfcfcf !important;
}

/* end custom skinning */

#fb-root {display:none;}
.gift-logo {
	background: url('../images/logo.png') no-repeat 0 0;
	width:181px;
	height:75px;
	float:left;
	margin-right:73px;
	margin-top:50px;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);:none;
}
.online .gift-logo, .online .title-skip {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);:none;

		-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;
}
.male-header {
	background: white;
	border-top: 10px solid black;
	width:100%;
	z-index: 50;
	padding: 10px 0 0 0;
	-webkit-box-shadow: #666 0px 3px 10px;
	-moz-box-shadow: #666 0px 3px 10px;
	box-shadow: #666 0px 3px 10px;
	behavior: url('PIE.htc');
	height:1000px;
}


img.male-round, .male-back, .male-loading, .male-label-box, .male-loader {
	height:115px;
	width:115px;
	position:absolute;
	top:0;
	left:0;
	z-index:2000;
}
.male-back, .male-loading, .male-label-box {
	background-color:#FFF;
	z-index: 1;
}
.male-loader {
	z-index:1000;
	background-image:url('../images/male/male-loader.gif');
	opacity: 0.4;
	-moz-opacity: 0.4;
	filter:alpha(opacity=4);
}
.online .male-loader {
	background-image:url('../images/male/loaded-spokes.png');
}
.male-label-box {
	z-index:5000;
	background:none;
	margin:0 auto;
	font-family:ff-enzo-web,helvetica,sans-serif;
	font-size: 12px;
	color: #777;
	text-shadow: 0 1px 0 white;
	padding: 45px 0 0 4px;
}
#status {
	margin-top:15px;
}
.male-holder {
	position:relative;
	height:115px;
	width:115px;
	margin:100px auto 0;
}
.online .male-holder {
	margin:18px auto 0;
	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	     -o-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
}



.male-loading {
	background:#FFF;
	overflow:hidden;
	-webkit-animation:loading 5s ease-in-out;
	-moz-animation:loading 5s ease-in-out;
	animation:loading 5s ease-in-out;
	animation-iteration-count:2;
}

@-webkit-keyframes loading {
	0% { background-color:#FFF; }
	50% { background-color:#b9e74b; }
	100% { background-color:#FFF; }
}

@-moz-keyframes loading {
	0% { background-color:#FFF; }
	50% { background-color:#b9e74b; }
	100% { background-color:#FFF; }
}

.male-back {
	background:#FFF;
	overflow:hidden;
	-webkit-animation:loaded 2s 9999 ease-in-out;
	-moz-animation:loaded 2s 9999 ease-in-out;
	animation:loaded 2s 9999 ease-in-out;
	animation-iteration-count:infinite;
}

@-webkit-keyframes loaded {
	0% { background-color:#67c522; }
	20% { background-color:#b9e74b; }
	50% { background-color:#8de74b; }
	100% { background-color:#67c522; }
}

@-moz-keyframes loaded {
	0% { background-color:#b9e74b; }
	50% { background-color:#bde74b; }
	100% { background-color:#67c522; }
}



.ani {

	-webkit-animation: 1s ease-in-out;
	   -moz-animation: 1s ease-in-out;
	    -ms-animation: 1s ease-in-out;
	     -o-animation: 1s ease-in-out;
	        animation: 1s ease-in-out;
	        
-webkit-animation-fill-mode: forwards;
	   -moz-animation-fill-mode: forwards;
	    -ms-animation-fill-mode: forwards;
	     -o-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}


@-webkit-keyframes male-online {
	
	-webkit-transform: translateZ(0);
	0% {
		opacity: 0;
		-webkit-transform: translateY(200px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(-100px);
	}
	80% {
		-webkit-transform: translateY(50px);
	}
	100% {
		-webkit-transform: translateY(-10px);
	}
}
@-moz-keyframes male-online {
	0% {
		opacity: 0;
		-moz-transform: translateY(200px);
	}
	60% {
		opacity: 1;
		-moz-transform: translateY(-100px);
	}
	80% {
		-moz-transform: translateY(50px);
	}
	100% {
		-moz-transform: translateY(-10px);
	}
}
@-ms-keyframes male-online {
	0% {
		opacity: 0;
		-ms-transform: translateY(200px);
	}
	60% {
		opacity: 1;
		-ms-transform: translateY(-100px);
	}
	80% {
		-ms-transform: translateY(50px);
	}
	100% {
		-ms-transform: translateY(-10px);
	}
}
@-o-keyframes male-online {
	0% {
		opacity: 0;
		-o-transform: translateY(200px);
	}
	60% {
		opacity: 1;
		-o-transform: translateY(-100px);
	}
	80% {
		-o-transform: translateY(50px);
	}
	100% {
		-o-transform: translateY(-10px);
	}
}
@keyframes male-online {
	0% {
		opacity: 0;
		-moz-transform: translateY(200px);
	}
	60% {
		opacity: 1;
		-moz-transform: translateY(-100px);
	}
	80% {
		-moz-transform: translateY(50px);
	}
	100% {
		-moz-transform: translateY(-10px);
	}
}

.male-header.flyup {
	height:184px;

	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;


}
.male-online {
	-webkit-animation-name: male-online;
	-moz-animation-name: male-online;
	-ms-animation-name: male-online;
	-o-animation-name: male-online;
	animation-name: male-online;
}

.title-skip {
	opacity: 0;
	margin-top:42px;
	-moz-opacity: 0;
	filter:alpha(opacity=0);:none;
	padding-right: 20px;
}
.title-skip .male-title {
	font-family: ff-enzo-web, helvetica,sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:-1px;
	text-transform:uppercase;
}
.male-title {text-align:right;}
.skip-this {
	-webkit-border-radius: 3px;
    border-radius: 3px; 
  	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	background-color:#d7d7d7;
	color:#939393;
	padding:8px;
	width:41%;
	display: block;
	font-weight: bold;
	text-tranform: uppercase;
	text-transform: uppercase;
	font-size: 12px;
	float:right;
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
	.gift-logo { background-image:url('../images/logo-2x.png'); background-size:154px 58px; }
	.male-loader {background-image:url('../images/male/male-loader-2x.gif');}
	.online .male-loader {background-image:url('../images/male/loaded-spokes-2x.png');}
}

@media only screen and (max-width: 959px) {
	.gift-logo {float:none;margin: 0 auto;}
	.title-skip {margin:60px auto 5px;padding-right: 0}
	.male-header.flyup {
		height: auto;
		min-height: 400px;
	}
	.skip-this {float:none;margin:0 auto;}
	.male-title {text-align: center;}
}