@import "buttons.scss";
@import "forms.scss";
@import "arush/animate.scss";
@import "skeleton/base.scss";
@import "skeleton/skeleton.scss";
@import "skeleton/layout.scss";
@import "compass/css3/opacity";

$borderColour: #ddd;

@mixin circle($radius: 10px,$color: #000) {
  	width: $radius;
	height: $radius;
	background: $color;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
	line-height:$radius;
}


body {background-color:#FFF;}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
// #male-status {padding-bottom:100px;}
.wordwrap, .jqconsole-header span { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
.male-console {
	height:auto;
	float:left;
	width:81.5%;
	margin-left:3%;
}

/* console */
#console {
      position: relative;
      /* width: 400px; */
      /*height: 650px;*/
      background-color:#FFF;
      font-size:16px;
      font-family:courier,sans-serif;
      text-align:left;
      margin-top:25px;
      width:100%;
      height:100%;
  	  /*max-height:650px;*/
  	  /*padding-bottom:200px;*/
    }
    /* The inner console element. */
    .jqconsole {
        padding: 10px;
	    background-color:#FFF;
		@include trans(500ms);
	  	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    }
    /* The cursor. */
    .jqconsole-cursor {
        background-color: #CFCFCF;
        -webkit-animation:cursor 0.3s 9999 ease-in-out;
		-moz-animation:cursor 0.3s 9999 ease-in-out;
		animation:cursor 0.3s 9999 ease-in-out;
		animation-iteration-count:infinite;
    }
	@-webkit-keyframes cursor {
		0% { background-color:#CFCFCF; }
		50% { background-color:#444; }
		100% { background-color:#CFCFCF; }
	}

	@-moz-keyframes cursor {
		0% { background-color:#CFCFCF; }
		50% { background-color:#444; }
		100% { background-color:#CFCFCF; }
	}
    .jqconsole-header {
    	color:white;
    }
    /* The cursor color when the console looses focus. */
    .jqconsole-blurred .jqconsole-cursor {
        background-color: #666;
    }
    /* The current prompt text color */
    .jqconsole-prompt {
        color: #257801;
        padding:20px;
        background-color: white;
        display:block;
    }
    /* The command history */
    .jqconsole-old-prompt {
        color: #ccc;
        font-weight: normal;
		padding: 20px;
		display: block;
    }
    /* The text color when in input mode. */
    .jqconsole-input {
        color: #ccc;
    }
    /* Previously entered input. */
    .jqconsole-old-input {
        color: #ccc;
        font-weight: normal;
    }
    /* The text color of the output. */
    .jqconsole-output {
        color: #444;
    }
/* end console */

/* custom skinning */
.jqconsole-header span {
	background-color:#e9e9e9;
	color:#e9e9e9;
	padding:20px;
	display:block;
}
.jqconsole-output span, .jqconsole-output .image-question {
	padding: 20px;
	color: #e9e9e9;
	background-color: #E9E9E9;
	display: block;
}

.jqconsole-output.instruction span{
	background-color:#f7f5c1;
	color:#7e7b14 !important;
}
.jqconsole-output.red span{
	background-color:#f6dddd;
	color:#991e1e !important;
}
.jqconsole-output.green span{
	background-color:#d2f2d2;
	color:#467c46 !important;
}
.jqconsole-output.readable span{
	color:#444 !important;
}

.mobile-buttons a {
	width:100%;
	margin:0 0 20px 0;
	min-height:60px;
	line-height:60px;
	float:left;
	letter-spacing:-1px;
}
.mobile-buttons a.secondary {
	margin:20px 0 0 0;
}

.mobile-buttons a.first {
	margin:20px 0;
}

.mobile-buttons a.smalltext {
	font-size:20px;
	line-height:30px;
	padding-top:12px;
}

.mobile-buttons a.smalltext span.button-caption {
	font-size:12px;
	line-height:14px;
	display:block;
	clear:both;
	text-shadow:none;
	font-weight:normal;
	letter-spacing:0;
}

.console-fade {
	width:100%;
	-webkit-border-radius: 5px; 
    border-radius: 5px; 
  	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  	background-image:url('../images/male/console-fade.png');
  	height:76px;
  	position:absolute;
  	z-index:99999;
}

.jqconsole-blurred:before .console-fade {
	background:none;
}

.jqconsole-output.loading-flash span {
        background-color: #CFCFCF;
        -webkit-animation:bg-load 1s 9999 ease-in-out;
		-moz-animation:bg-load 1s 9999 ease-in-out;
		animation:bg-load 1s 9999 ease-in-out;
		animation-iteration-count:infinite;
    }
	

/* end custom skinning */


/* header */

#fb-root {display:none;}

.male-header .container.app {
	height:45px;
}
.gift-logo {
	width:115px;
	margin:0 auto;
}
.logo-container {
	margin:0 auto;
	text-align:center;
}

.male-header {
	background: white;
	width:100%;
	z-index: 50;
	border-bottom:1px solid $borderColour;
	padding: 8px 0 0 0;
	behavior: url('PIE.htc');
	height:45px;
}

.view {
	float:left;
	width:100%;
}
.progress-bar {
	width:100%;
	background:#FFFFFF;
	height:100%;
	@include trans(500ms);
}
.progress-sub {
	line-height:120px;
	color:#adadad;
	padding:0;
	font-weight:bold;
	text-transform:uppercase;
	font-size:10px;
	clear:both;
}
.progress-item {
	width:100%;
	text-align:center;
	clear:both;
}

.online .progress-bar {
	width:15%;
	float:left;
	border-right:1px solid $borderColour;
}

.online .progress-item {
	display:none;
}
.online .progress-item.first {
	display:block;
}
.progress-item.first {
	margin:29px 0 0 0;
}

/* intro animations */


// fade the steps out
// .first .circles {
// 	@include ani-delay(2s);
// }
.progress-item.first {
	@include ani-delay(1.4s);
}
.progress-item.second {
	@include ani-delay(1.2s);
}
.progress-item.third {
	@include ani-delay(1s);
}

// fade MALE in
.male-round {
	display:none;
}
.male-round.fadeIn {
	display:block;
	// @include ani-delay(1.6s);
}




.circles {
	margin:0 auto;
	width:46px;
}

.progress-bar .circle-back {
	@include circle(46px, #000);
	position:absolute;
	z-index:1;
}

.progress-bar .active .circle-back {
	@include circle(46px, #FFF);
	margin: 2px 0 0 2px;
}

.progress-bar .active .circle-back.back {
	@include circle(50px, #d2002b);
	z-index:0;
	margin: 0;
}


.progress-bar .circle {
	@include circle(40px, #000);
	position:absolute;
	margin: 3px 0 0 3px;
	z-index: 2;

}
.progress-bar .active .circle {
	margin: 5px 0 0 5px;

}

.progress-bar .active .circle {
	@include circle(40px, #d2002b);
}

.progress-bar .circle-text {
	position:absolute;
	color:#fff;
	font-family:"proxima-nova",helvetica,arial,sans-serif;
	font-size:26px;
	font-weight:bold;
	padding:0 0 0 12px;
	z-index:3;
	line-height:40px;
}

.progress-bar .active .circle-text {
	padding:0 0 0 14px;
}

.online .progress-bar {
	display:block;
}

img.male-round, .male-back, .male-loading, .male-label-box, .male-loader {
	height:115px;
	width:115px;
	position:absolute;
	top:0;
	left:0;
	z-index:2000;
}
.male-back, .male-loading, .male-label-box {
	background-color:#FFF;
	z-index: 1;
}
.male-loader {
	z-index:1000;
	background-image:url('../images/male/male-loader.gif');
	opacity: 0.4;
	-moz-opacity: 0.4;
	filter:alpha(opacity=4);
}
.online .male-loader {
	background-image:url('../images/male/loaded-spokes.png');
}


/* fade loaders */

.fadeout {
	-webkit-animation:fadeout 5s ease-in-out 1.5s;
	-moz-animation:fadeout 5s ease-in-out 1.5s;
	animation:fadeout 5s ease-in-out 1.5s;
	animation-iteration-count:1;
}

.male-label-box {
	z-index:5000;
	background:none;
	margin:0 auto;
	font-family:ff-enzo-web,helvetica,sans-serif;
	font-size: 12px;
	color: #777;
	text-shadow: 0 1px 0 white;
	padding: 45px 0 0 4px;
	text-align: center;
}
#status {
	margin-top:15px;
	text-align: center;
}
.male-holder {
	position:relative;
	height:115px;
	width:115px;
	margin: 20px auto 0;
}
.online .male-holder {
	margin:18px auto 0;
	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	     -o-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
}

.male-loading {
	background:#FFF;
	overflow:hidden;
	-webkit-animation:loading 5s ease-in-out;
	-moz-animation:loading 5s ease-in-out;
	animation:loading 5s ease-in-out;
	animation-iteration-count:2;
}


.male-back {
	background:#FFF;
	overflow:hidden;
	-webkit-animation:loaded 2s 9999 ease-in-out;
	-moz-animation:loaded 2s 9999 ease-in-out;
	animation:loaded 2s 9999 ease-in-out;
	animation-iteration-count:infinite;
}


.offside img {
	margin-left: 25%;
	margin-top: 25px;
}

.offside-beckham img {
	margin-left:34%;
}
.offside-beckham span {
	display:none;
}
.img-container {
	float: left;
	
	margin: 1%;
	background: white;
}

.continue.convert {
	margin-top:20px;
}
.img-container.offside-beckham, .img-container.offside {
	width:100%;
	margin:20px 0 0 0;
}
.img-container.work-image, .img-container.play-image, .img-container.roll-image {
	width:47%;
	text-align: center;

}
.image-question.three .img-container {
	width:22%;
}

.image-question.four .img-container {
	width:22%;
}

.image-question .img-container .image-caption {
	display:block;
	width:100%;
	float:left;
	padding:20px 0;
	color: #444;
	font-family: courier, sans-serif;
	font-weight: normal;
	text-align: center;
	background-color: white;
	border-top: none;

	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	font-size: 14px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

}

.male-title {text-align:right;}

.jqconsole-output img.one {
	margin:0 auto;
	clear:both;
}
.jqconsole-output .image-caption {
	color:#444;
}
.jqconsole-output img.one:after{
	clear:both;
	float:none;
}
.jqconsole-output img.two, .jqconsole-output img.three {
	float:left;
}

.jqconsole-output.question, .jqconsole-prompt, .jqconsole-input {display:none;}

.mobile-buttons.saving input, .mobile-buttons.saving a {
	float:left;
}

.mobile-buttons.saving {
	margin:10px;
	-webkit-animation-fill-mode: forwards;
	   -moz-animation-fill-mode: forwards;
	    -ms-animation-fill-mode: forwards;
	     -o-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}
.mobile-buttons.saving input {
	width: 63%;
	@include input-field;
	color:#9f9f9f;
	padding: 10px 2%;
	height:41px;
	font-size:21px;
	font-family:courier, monospace;
}

.mobile-buttons.saving input:focus {
	color:#444;
}
.mobile-buttons.saving a {
	width:30%;
	float:right;
}








/*  Media Queries ----------- */







@media only screen and (-webkit-min-device-pixel-ratio:2) {
	
	.male-loader {background-image:url('../images/male/male-loader-2x.gif'); background-size:115px 115px; }
	.online .male-loader {background-image:url('../images/male/loaded-spokes-2x.png'); background-size:115px 115px; }
}



/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
	.online .male-console {width: 75%;}
	.online .progress-bar {width:19%;}
	.container.app {width: 1024px;}
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

	.mobile-buttons {display:block;}
	.offside img, .offside-beckham img {
		margin-left: 0;
		width: 100%;
	}
	.img-container.work-image, .img-container.play-image  {
		width:47%;max-width:47%;margin: 20px 1%;
	}

	.container.app {width:100%;}
	.online .male-console {width:81%;}
}


/* small screens */
@media only screen and (max-width: 959px) and (min-width: 768px) {
	.online .male-console {width: 75%;}
	.online .progress-bar {width:19%;}
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	
	
	.img-container.work-image {
		width:100%;max-width:100%;margin: 20px 0;
	}
	.mobile-buttons.saving input {font-size: 16px; }
	.online .male-console { width: 74.5%;}
	.online .progress-bar {width:20%;}
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#logo {width:48%;}
	.mobile-buttons.saving input {font-size: 14px; width:96%;margin-bottom:10px;}
	.mobile-buttons.saving a {width:100%;float:left;}
	
	.online .male-round { @include ani-name(fadeOutUp);}
	.online .progress-bar {display:none;}
	.online .male-console {width: 99.5%;margin-left:0;}
}

